In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
from scipy import stats
from IPython.core.interactiveshell import InteractiveShell

In [2]:
# Libraries Settings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter(action="ignore", category=Warning)
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
np.set_printoptions(suppress=True)

def set_seed(seed=42):
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    
pd.set_option("display.width", 100)
pd.set_option("display.max_columns", 60)
pd.set_option("display.max_rows", 25)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [6]:
df = pd.read_excel ('data/Companies.xlsx')
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,10_Total_Venture_Funding (Disclosed),10.1_Funding Rounds (Named),10.2_Number of Venture Funding rounds (#),11_Investors,12_Company_Valuation,13_Company_Valuation_Date,14_Last_funding_round_raised_date,15_Last_funding_round_raised_type,16_Last funding round raised amount,17_Largest_round,18_Amount,19_Founders,20_Female_Co-Founder (Yes = 1; No = 0),21_Main_sector,22_Categories,23_Business_Model,24_Accelerators_Attended,25_Number_of_employees,26_Website,27_Linkedin,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Average time of rounds(days),Year of recieving Series A
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.000,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Series C,409806000,Series C,409806000,"Jeremy Hodara, Sacha Poignonnec",NaN,E-Commerce & Retail,"E-Commerce, Internet, Shopping Online",NaN,NaN,1001 - 5000,https://group.jumia.com/,https://www.linkedin.com/company/jumia-group/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.000,2012.000
1,Andela,Andela invests in Africa’s most talented softw...,Active,2014.000,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,NaN,NaN,NaN,"Chan Zuckerberg Initiative, CRE Venture Capita...",NaN,NaN,2019-01-23 00:00:00,Series D,100000000,Series D,100000000,"Brice Steven Nkengsa, Christina Sass, Ian Carn...",1,Commercial & Professional Services,"Edtech, BPO, Recruitment, Software, Training",B2B,Extreme Accelerator,500+,https://andela.com,https://www.linkedin.com/company/andela/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395.000,2015.000
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.000,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venture Round,69000000,Venture Round,100000000,Kim Reid,NaN,E-Commerce & Retail,"E-Commerce, Logistics, Retail",NaN,NaN,1001-5000,https://www.takealot.com/,https://www.linkedin.com/company/takealot/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.000,NaN
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.000,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,NaN,NaN,NaN,"GE Ventures, Helios Investment Partners, Omidy...",NaN,NaN,2018-07-26 00:00:00,Debt Financing,20000000,Series D,55000000,"Erica Mackey, Joshua Pierce, Xavier Helgesen",1,Energy & Environment Resources,"Electrical Distribution, Energy, Renewable Ene...",B2B/B2C,-,1001-5000,http://offgrid-electric.com/,https://www.linkedin.com/company/zolaelectric/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d.light,d.light is a global leader in delivering affor...,Active,2007.000,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venture Round,41000000,Debt Financing,50000000,"Jacob Okoth, Adrian Bock",NaN,Energy & Environment Resources,"Energy, Renewable Energy, Solar",NaN,NaN,201-500,http://www.dlight.com,https://www.linkedin.com/company/d-light-desig...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.000,NaN

In [7]:
df.shape

(3084, 118)

##### Data cleaning

In [9]:
df.replace("?", np.nan, inplace = True)
#df.head(5)

In [10]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(5))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df)

##################### Shape #####################
(3084, 118)
##################### Types #####################
1_Company_name                   object
2_Company_description            object
3_Status                         object
4_Year_founded                  float64
5_Headquarters                   object
                                 ...
Unnamed: 113                    float64
Unnamed: 114                    float64
Unnamed: 115                    float64
Average time of rounds(days)    float64
Year of recieving Series A      float64
Length: 118, dtype: object
##################### Head #####################
   1_Company_name                              2_Company_description  3_Status  4_Year_founded  \
0     Jumia Group  Jumia is connecting consumers and businesses a...    Active        2012.000
1          Andela  Andela invests in Africa’s most talented softw...    Active        2014.000
2        Takealot  takealot.com is one of SA's largest online ret...  Acquired        2011.000
3  Zola Electric   ZOLA Electric (formerly Off Grid Electric) is ...    Active        2011.000
4         d.light  d.light is a global leader in delivering affor...    Active        2007.000

            5_Headquarters                                    6_Other_offices 7.1_Country HQ  \
0           Lagos, Nigeria  Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...        Nigeria
1  New York, united States                     Nigeria, Kenya, Uganda, Rwanda  United States
2  Cape Town, South Africa                                                NaN   South Africa
3         Arusha, Tanzania                                                NaN       Tanzania
4           Nairobi, Kenya                                                NaN          Kenya

  7.2_Assigned_Country (Africa)   8_Countries_of_operation_(Business Model/Market)  \
0                       Nigeria  Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...
1                       Nigeria                     Nigeria, Kenya, Uganda, Rwanda
2                  South Africa                                       South Africa
3                      Tanzania                                           Tanzania
4                         Kenya                                              Kenya

  9_Country_Parent Incorporation  10_Total_Venture_Funding (Disclosed)  \
0                            NaN                                   NaN
1                            NaN                                   NaN
2                            NaN                                   NaN
3                            NaN                                   NaN
4                            NaN                                   NaN

   10.1_Funding Rounds (Named)  10.2_Number of Venture Funding rounds (#)  \
0                          NaN                                        NaN
1                          NaN                                        NaN
2                          NaN                                        NaN
3                          NaN                                        NaN
4                          NaN                                        NaN

                                        11_Investors  12_Company_Valuation  \
0                                                NaN                   NaN
1  Chan Zuckerberg Initiative, CRE Venture Capita...                   NaN
2                                                NaN                   NaN
3  GE Ventures, Helios Investment Partners, Omidy...                   NaN
4                                                NaN                   NaN

   13_Company_Valuation_Date 14_Last_funding_round_raised_date 15_Last_funding_round_raised_type  \
0                        NaN                               NaN                          Series C
1                        NaN               2019-01-23 00:00:00                          Series D
2                        NaN                               NaN                     Venture Round
3                        NaN               2018-07-26 00:00:00                    Debt Financing
4                        NaN                               NaN                     Venture Round

  16_Last funding round raised amount 17_Largest_round  18_Amount  \
0                           409806000         Series C  409806000
1                           100000000         Series D  100000000
2                            69000000    Venture Round  100000000
3                            20000000         Series D   55000000
4                            41000000   Debt Financing   50000000

                                         19_Founders 20_Female_Co-Founder (Yes = 1; No  = 0)  \
0                    Jeremy Hodara, Sacha Poignonnec                                     NaN
1  Brice Steven Nkengsa, Christina Sass, Ian Carn...                                       1
2                                           Kim Reid                                     NaN
3       Erica Mackey, Joshua Pierce, Xavier Helgesen                                       1
4                           Jacob Okoth, Adrian Bock                                     NaN

                       21_Main_sector                                      22_Categories  \
0                 E-Commerce & Retail              E-Commerce, Internet, Shopping Online
1  Commercial & Professional Services       Edtech, BPO, Recruitment, Software, Training
2                 E-Commerce & Retail                      E-Commerce, Logistics, Retail
3      Energy & Environment Resources  Electrical Distribution, Energy, Renewable Ene...
4      Energy & Environment Resources                    Energy, Renewable Energy, Solar

  23_Business_Model 24_Accelerators_Attended 25_Number_of_employees                    26_Website  \
0               NaN                      NaN            1001 - 5000      https://group.jumia.com/
1               B2B      Extreme Accelerator                   500+            https://andela.com
2               NaN                      NaN              1001-5000     https://www.takealot.com/
3           B2B/B2C                        -              1001-5000  http://offgrid-electric.com/
4               NaN                      NaN                201-500         http://www.dlight.com

                                         27_Linkedin  ... Unnamed: 88 Unnamed: 89  Unnamed: 90  \
0      https://www.linkedin.com/company/jumia-group/  ...         NaN         NaN          NaN
1           https://www.linkedin.com/company/andela/  ...         NaN         NaN          NaN
2         https://www.linkedin.com/company/takealot/  ...         NaN         NaN          NaN
3     https://www.linkedin.com/company/zolaelectric/  ...         NaN         NaN          NaN
4  https://www.linkedin.com/company/d-light-desig...  ...         NaN         NaN          NaN

   Unnamed: 91 Unnamed: 92  Unnamed: 93 Unnamed: 94  Unnamed: 95 Unnamed: 96 Unnamed: 97  \
0          NaN         NaN          NaN         NaN          NaN         NaN         NaN
1          NaN         NaN          NaN         NaN          NaN         NaN         NaN
2          NaN         NaN          NaN         NaN          NaN         NaN         NaN
3          NaN         NaN          NaN         NaN          NaN         NaN         NaN
4          NaN         NaN          NaN         NaN          NaN         NaN         NaN

  Unnamed: 98 Unnamed: 99  Unnamed: 100  Unnamed: 101  Unnamed: 102  Unnamed: 103  Unnamed: 104  \
0         NaN         NaN           NaN           NaN           NaN           NaN           NaN
1         NaN         NaN           NaN           NaN           NaN           NaN           NaN
2         NaN         NaN           NaN           NaN           NaN           NaN           NaN
3         NaN         NaN           NaN           NaN           NaN           NaN           NaN
4         NaN         NaN           NaN           NaN           NaN           NaN           NaN

   Unnamed: 105  Unnamed: 106  Unnamed: 107  Unnamed: 108  Unnamed: 109  Unnamed: 110  \
0           NaN           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN           NaN

   Unnamed: 111  Unnamed: 112  Unnamed: 113  Unnamed: 114  Unnamed: 115  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

   Average time of rounds(days)  Year of recieving Series A
0                       529.000                     2012.000
1                       395.000                     2015.000
2                      1054.000                          NaN
3                           NaN                          NaN
4                       195.000                          NaN

[5 rows x 118 columns]
##################### NA #####################
1_Company_name                     0
2_Company_description            246
3_Status                         300
4_Year_founded                   393
5_Headquarters                   305
                                ...
Unnamed: 113                    3084
Unnamed: 114                    3084
Unnamed: 115                    3084
Average time of rounds(days)    2867
Year of recieving Series A      2966
Length: 118, dtype: int64
##################### Quantiles #####################
                                             0.000    0.050    0.500    0.950    0.990       1.000
4_Year_founded                            1954.000 2008.000 2015.000 2018.000 2019.000    2019.000
10_Total_Venture_Funding (Disclosed)         0.000    0.000    0.000    0.000    0.000 1500000.000
10.1_Funding Rounds (Named)                  1.000    1.000    2.000    2.800    2.960       3.000
10.2_Number of Venture Funding rounds (#)    0.000    0.000    0.000    1.000    2.500       3.000
12_Company_Valuation                           NaN      NaN      NaN      NaN      NaN         NaN
...                                            ...      ...      ...      ...      ...         ...
Unnamed: 113                                   NaN      NaN      NaN      NaN      NaN         NaN
Unnamed: 114                                   NaN      NaN      NaN      NaN      NaN         NaN
Unnamed: 115                                   NaN      NaN      NaN      NaN      NaN         NaN
Average time of rounds(days)                 1.000   34.600  330.000 1065.800 1461.120    2708.000
Year of recieving Series A                2011.000 2012.850 2018.000 2019.000 2019.000    2019.000

[85 rows x 6 columns]

In [12]:
cols = df.columns

In [13]:
for cat_col in cols:
    print(f"{cat_col}: {df[cat_col].nunique()} uniqueness variable")

1_Company_name: 3084 uniqueness variable
2_Company_description: 2829 uniqueness variable
3_Status: 5 uniqueness variable
4_Year_founded: 37 uniqueness variable
5_Headquarters: 423 uniqueness variable
6_Other_offices: 54 uniqueness variable
7.1_Country HQ: 58 uniqueness variable
7.2_Assigned_Country (Africa): 33 uniqueness variable
8_Countries_of_operation_(Business Model/Market): 147 uniqueness variable
9_Country_Parent Incorporation: 15 uniqueness variable
10_Total_Venture_Funding (Disclosed): 9 uniqueness variable
10.1_Funding Rounds (Named): 3 uniqueness variable
10.2_Number of Venture Funding rounds (#): 4 uniqueness variable
11_Investors: 157 uniqueness variable
12_Company_Valuation: 0 uniqueness variable
13_Company_Valuation_Date: 0 uniqueness variable
14_Last_funding_round_raised_date: 107 uniqueness variable
15_Last_funding_round_raised_type: 43 uniqueness variable
16_Last funding round raised amount: 198 uniqueness variable
17_Largest_round: 30 uniqueness variable
18_Amount: 197 uniqueness variable
19_Founders: 1892 uniqueness variable
20_Female_Co-Founder (Yes = 1; No  = 0): 3 uniqueness variable
21_Main_sector: 92 uniqueness variable
22_Categories: 1354 uniqueness variable
23_Business_Model: 16 uniqueness variable
24_Accelerators_Attended: 70 uniqueness variable
25_Number_of_employees: 25 uniqueness variable
26_Website: 2664 uniqueness variable
27_Linkedin: 2011 uniqueness variable
28_Twitter: 2058 uniqueness variable
29_Facebook: 2171 uniqueness variable
Companies Information, Level of Completeness: 29 uniqueness variable
Duplication: 0 uniqueness variable
Companies with a Deal Check: 716 uniqueness variable
Main Sector / Industry Check: 2 uniqueness variable
DA Acquired or Exited or Dead: 77 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
Industry, DA Classified: 14 uniqueness variable
Last Funding Round, DA Classified: 10 uniqueness variable
Largest Funding Round, DA Classified: 9 uniqueness variable
Stage, DA Classified: 3 uniqueness variable
Total Number of Funding Rounds: 0 uniqueness variable
Total Number of Venture Funding Rounds: 0 uniqueness variable
Total Funding todate (disclosed): 0 uniqueness variable
Total Venture funding todate (disclosed): 0 uniqueness variable
Acquired: 0 uniqueness variable
1. Grant: 0 uniqueness variable
2. Seed: 0 uniqueness variable
3. Early Venture: 0 uniqueness variable
4. Late Venture: 0 uniqueness variable
5. Debt Financing: 0 uniqueness variable
6.Private Equity: 0 uniqueness variable
7. Offerings: 0 uniqueness variable
8. Exits: 0 uniqueness variable
2010: 0 uniqueness variable
2011: 0 uniqueness variable
2012: 0 uniqueness variable
2013: 0 uniqueness variable
2014: 0 uniqueness variable
2015: 0 uniqueness variable
2016: 0 uniqueness variable
2017: 0 uniqueness variable
2018: 0 uniqueness variable
2019: 0 uniqueness variable
Investors: 0 uniqueness variable
Unnamed: 66: 0 uniqueness variable
Unnamed: 67: 0 uniqueness variable
Unnamed: 68: 0 uniqueness variable
Unnamed: 69: 0 uniqueness variable
Unnamed: 70: 0 uniqueness variable
Unnamed: 71: 0 uniqueness variable
Unnamed: 72: 0 uniqueness variable
Unnamed: 73: 0 uniqueness variable
Unnamed: 74: 0 uniqueness variable
Unnamed: 75: 0 uniqueness variable
Unnamed: 76: 0 uniqueness variable
Unnamed: 77: 0 uniqueness variable
Unnamed: 78: 0 uniqueness variable
Unnamed: 79: 0 uniqueness variable
Unnamed: 80: 0 uniqueness variable
Duplication.1: 1407 uniqueness variable
Unnamed: 82: 0 uniqueness variable
Unnamed: 83: 0 uniqueness variable
Unnamed: 84: 0 uniqueness variable
Unnamed: 85: 0 uniqueness variable
Unnamed: 86: 0 uniqueness variable
Unnamed: 87: 0 uniqueness variable
Unnamed: 88: 0 uniqueness variable
Unnamed: 89: 0 uniqueness variable
Unnamed: 90: 0 uniqueness variable
Unnamed: 91: 0 uniqueness variable
Unnamed: 92: 0 uniqueness variable
Unnamed: 93: 0 uniqueness variable
Unnamed: 94: 0 uniqueness variable
Unnamed: 95: 0 uniqueness variable
Unnamed: 96: 0 uniqueness variable
Unnamed: 97: 0 uniqueness variable
Unnamed: 98: 0 uniqueness variable
Unnamed: 99: 0 uniqueness variable
Unnamed: 100: 0 uniqueness variable
Unnamed: 101: 0 uniqueness variable
Unnamed: 102: 0 uniqueness variable
Unnamed: 103: 0 uniqueness variable
Unnamed: 104: 0 uniqueness variable
Unnamed: 105: 0 uniqueness variable
Unnamed: 106: 0 uniqueness variable
Unnamed: 107: 0 uniqueness variable
Unnamed: 108: 0 uniqueness variable
Unnamed: 109: 0 uniqueness variable
Unnamed: 110: 0 uniqueness variable
Unnamed: 111: 0 uniqueness variable
Unnamed: 112: 0 uniqueness variable
Unnamed: 113: 0 uniqueness variable
Unnamed: 114: 0 uniqueness variable
Unnamed: 115: 0 uniqueness variable
Average time of rounds(days): 195 uniqueness variable
Year of recieving Series A : 9 uniqueness variable

In [23]:
#listing all columns
my_list = df.columns.values.tolist()

In [24]:
my_list

['1_Company_name',
 '2_Company_description',
 '3_Status',
 '4_Year_founded',
 '5_Headquarters',
 '6_Other_offices',
 '7.1_Country HQ',
 '7.2_Assigned_Country (Africa)',
 '8_Countries_of_operation_(Business Model/Market)',
 '9_Country_Parent Incorporation',
 '10_Total_Venture_Funding (Disclosed)',
 '10.1_Funding Rounds (Named)',
 '10.2_Number of Venture Funding rounds (#)',
 '11_Investors',
 '12_Company_Valuation',
 '13_Company_Valuation_Date',
 '14_Last_funding_round_raised_date',
 '15_Last_funding_round_raised_type',
 '16_Last funding round raised amount',
 '17_Largest_round',
 '18_Amount',
 '19_Founders',
 '20_Female_Co-Founder (Yes = 1; No  = 0)',
 '21_Main_sector',
 '22_Categories',
 '23_Business_Model',
 '24_Accelerators_Attended',
 '25_Number_of_employees',
 '26_Website',
 '27_Linkedin',
 '28_Twitter',
 '29_Facebook',
 'Companies Information, Level of Completeness',
 'Duplication',
 'Companies with a Deal Check',
 'Main Sector / Industry Check',
 'DA Acquired or Exited or Dead',
 'DA Classification_African Company (Yes = 0; No = 1)',
 'Industry, DA Classified',
 'Last Funding Round, DA Classified',
 'Largest Funding Round, DA Classified',
 'Stage, DA Classified',
 'Total Number of Funding Rounds',
 'Total Number of Venture Funding Rounds',
 'Total Funding todate (disclosed)',
 'Total Venture funding todate (disclosed)',
 'Acquired',
 '1. Grant',
 '2. Seed',
 '3. Early Venture',
 '4. Late Venture',
 '5. Debt Financing',
 '6.Private Equity',
 '7. Offerings',
 '8. Exits',
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 'Investors',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Duplication.1',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 'Unnamed: 99',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 'Unnamed: 106',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 'Unnamed: 113',
 'Unnamed: 114',
 'Unnamed: 115',
 'Average time of rounds(days)',
 'Year of recieving Series A ']

In [25]:
df = df.drop(['Total Number of Funding Rounds','Total Number of Venture Funding Rounds',
 'Total Funding todate (disclosed)','Total Venture funding todate (disclosed)','Acquired',
 '1. Grant','2. Seed', '3. Early Venture','4. Late Venture', '5. Debt Financing','6.Private Equity','7. Offerings',
 '8. Exits',2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 'Investors',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Duplication.1',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 'Unnamed: 99',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 'Unnamed: 106',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 'Unnamed: 113',
 'Unnamed: 114',
 'Unnamed: 115',
 'Average time of rounds(days)',
 'Year of recieving Series A '], axis=1)

In [26]:
df.columns

Index(['1_Company_name', '2_Company_description', '3_Status', '4_Year_founded', '5_Headquarters',
       '6_Other_offices', '7.1_Country HQ', '7.2_Assigned_Country (Africa)',
       '8_Countries_of_operation_(Business Model/Market)', '9_Country_Parent Incorporation',
       '10_Total_Venture_Funding (Disclosed)', '10.1_Funding Rounds (Named)',
       '10.2_Number of Venture Funding rounds (#)', '11_Investors', '12_Company_Valuation',
       '13_Company_Valuation_Date', '14_Last_funding_round_raised_date',
       '15_Last_funding_round_raised_type', '16_Last funding round raised amount',
       '17_Largest_round', '18_Amount', '19_Founders', '20_Female_Co-Founder (Yes = 1; No  = 0)',
       '21_Main_sector', '22_Categories', '23_Business_Model', '24_Accelerators_Attended',
       '25_Number_of_employees', '26_Website', '27_Linkedin', '28_Twitter', '29_Facebook',
       'Companies Information, Level of Completeness', 'Duplication',
       'Companies with a Deal Check', 'Main Sector / Industry Check',
       'DA Acquired or Exited or Dead', 'DA Classification_African Company (Yes = 0; No = 1)',
       'Industry, DA Classified', 'Last Funding Round, DA Classified',
       'Largest Funding Round, DA Classified', 'Stage, DA Classified'],
      dtype='object')