In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
from scipy import stats
from IPython.core.interactiveshell import InteractiveShell

In [2]:
# Libraries Settings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter(action="ignore", category=Warning)
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
np.set_printoptions(suppress=True)

def set_seed(seed=42):
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    
pd.set_option("display.width", 100)
pd.set_option("display.max_columns", 60)
pd.set_option("display.max_rows", 25)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [3]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Duplication,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Investor 15,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(5))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df_deals)

##################### Shape #####################
(2059, 59)
##################### Types #####################
1_post_date        datetime64[ns]
2_post_title               object
3_amount                   object
4_Stake                   float64
5_funding_round            object
                        ...
Investor 11.1              object
Investor 12.1              object
Investor 13.1              object
Investor 14.1              object
Investor 15.1             float64
Length: 59, dtype: object
##################### Head #####################
  1_post_date                    2_post_title 3_amount  4_Stake 5_funding_round  \
0  2008-09-01                            biNu   600000      NaN            Seed
1  2008-11-01                            biNu   400000      NaN           Angel
2  2009-12-03                         AllLife  6000000      NaN  Private Equity
3  2009-12-11  Bridge International Academies  1800000      NaN           Grant
4  2010-04-01                            biNu   320000      NaN           Angel

            6_investors                                           7_source  Country/Town  \
0           Artesian VC  https://www.crunchbase.com/search/funding_roun...           NaN
1           Undisclosed  https://www.crunchbase.com/search/funding_roun...     Australia
2  LeapFrog Investments  http://www.prnewswire.co.uk/news-releases/leap...  South Africa
3       Omidyar Network  http://foundationcenter.org/pnd/news/story.jht...           NaN
4           Undisclosed  https://www.crunchbase.com/search/funding_roun...           NaN

    Country(HQ)              Category             main_sector Check vs Companies  \
0           NaN                   NaN                     NaN                NaN
1     Australia       Mobile Internet  Information Technology               biNu
2  South Africa  Insurance, InsurTech      Financial Services            AllLife
3           NaN                   NaN                     NaN                NaN
4           NaN                   NaN                     NaN                NaN

   Deals Information, Level of Completeness duplicated_conc Duplication  Disclosed   Founded  \
0                                     0.500             NaN         NaN         NaN      NaN
1                                     0.900             NaN         NaN       1.000 2008.000
2                                     0.900             NaN         NaN       1.000 2004.000
3                                     0.643             NaN         NaN       1.000      NaN
4                                     0.500             NaN         NaN         NaN      NaN

   Total  Disclosed Funding  DA Classification_African Company (Yes = 0; No = 1)  \
0                       NaN                                                NaN
1              14220000.000                                              1.000
2              12700000.000                                              0.000
3              27800000.000                                                NaN
4                       NaN                                                NaN

   funding round, DA                                 Industry, DA     Year  Month  Quarter  Half  \
0                NaN                                          NaN 2008.000  9.000    3.000 2.000
1            2. Seed  Other Technologies & Information Technology 2008.000 11.000    4.000 2.000
2  6. Private Equity                           Financial Services 2009.000 12.000    4.000 2.000
3           1. Grant                                          NaN 2009.000 12.000    4.000 2.000
4                NaN                                          NaN 2010.000  4.000    2.000 1.000

   Number of Investors       Investor 1 Investor 2 Investor 3 Investor 4 Investor 5 Investor 6  \
0                1.000            #REF!          0          0          0          0          0
1                1.000            #REF!          0          0          0          0          0
2                1.000            #REF!          0          0          0          0          0
3                1.000  Omidyar Network          0          0          0          0          0
4                1.000            #REF!          0          0          0          0          0

  Investor 7 Investor 8 Investor 9 Investor 10 Investor 11 Investor 12 Investor 13 Investor 14  \
0          0          0          0           0           0           0           0           0
1          0          0          0           0           0           0           0           0
2          0          0          0           0           0           0           0           0
3          0          0          0           0           0           0           0           0
4          0          0          0           0           0           0           0           0

   Investor 15  Cummulative Deals (Disclosed)  Cummulative Deals (Undisclosed)  \
0        0.000                            NaN                              NaN
1        0.000                            NaN                              NaN
2        0.000                            NaN                              NaN
3        0.000                            NaN                              NaN
4        0.000                            NaN                              NaN

   Cummulative Amount     Investor 1.1 Investor 2.1 Investor 3.1 Investor 4.1 Investor 5.1  \
0                 NaN            #REF!          NaN          NaN          NaN          NaN
1                 NaN            #REF!          NaN          NaN          NaN          NaN
2                 NaN            #REF!          NaN          NaN          NaN          NaN
3                 NaN  Omidyar Network          NaN          NaN          NaN          NaN
4                 NaN            #REF!          NaN          NaN          NaN          NaN

  Investor 6.1 Investor 7.1 Investor 8.1 Investor 9.1 Investor 10.1 Investor 11.1 Investor 12.1  \
0          NaN          NaN          NaN          NaN           NaN           NaN           NaN
1          NaN          NaN          NaN          NaN           NaN           NaN           NaN
2          NaN          NaN          NaN          NaN           NaN           NaN           NaN
3          NaN          NaN          NaN          NaN           NaN           NaN           NaN
4          NaN          NaN          NaN          NaN           NaN           NaN           NaN

  Investor 13.1 Investor 14.1  Investor 15.1
0           NaN           NaN            NaN
1           NaN           NaN            NaN
2           NaN           NaN            NaN
3           NaN           NaN            NaN
4           NaN           NaN            NaN
##################### NA #####################
1_post_date         783
2_post_title        781
3_amount            781
4_Stake            2045
5_funding_round     781
                   ...
Investor 11.1      2056
Investor 12.1      2056
Investor 13.1      2058
Investor 14.1      2058
Investor 15.1      2059
Length: 59, dtype: int64
##################### Quantiles #####################
                                                      0.000    0.050      0.500        0.950  \
4_Stake                                               0.070    0.090      0.125        0.370
Deals Information, Level of Completeness              0.400    0.900      0.900        0.900
Disclosed                                             0.000    0.000      1.000        1.000
Founded                                               0.000 2008.950   2015.000     2018.000
Total  Disclosed Funding                              0.000    0.000 464000.000 80500000.000
DA Classification_African Company (Yes = 0; No ...    0.000    0.000      0.000        0.000
Year                                               1900.000 1900.000   2018.000     2019.000
Month                                                 1.000    1.000      6.000       12.000
Quarter                                               1.000    1.000      2.000        4.000
Half                                                  1.000    1.000      1.000        2.000
Number of Investors                                   1.000    1.000      1.000        5.000
Investor 15                                           0.000    0.000      0.000        0.000
Cummulative Deals (Disclosed)                           NaN      NaN        NaN          NaN
Cummulative Deals (Undisclosed)                         NaN      NaN        NaN          NaN
Cummulative Amount                                      NaN      NaN        NaN          NaN
Investor 15.1                                           NaN      NaN        NaN          NaN

                                                           0.990          1.000
4_Stake                                                    0.474          0.500
Deals Information, Level of Completeness                   0.900          1.000
Disclosed                                                  1.000          1.000
Founded                                                 2019.000       2019.000
Total  Disclosed Funding                           178960000.000 1086610000.000
DA Classification_African Company (Yes = 0; No ...         1.000          1.000
Year                                                    2019.000       2019.000
Month                                                     12.000         12.000
Quarter                                                    4.000          4.000
Half                                                       2.000          2.000
Number of Investors                                        8.000         14.000
Investor 15                                                0.000          0.000
Cummulative Deals (Disclosed)                                NaN            NaN
Cummulative Deals (Undisclosed)                              NaN            NaN
Cummulative Amount                                           NaN            NaN
Investor 15.1                                                NaN            NaN

In [5]:
cols = df_deals.columns

In [6]:
cols

Index(['1_post_date', '2_post_title', '3_amount', '4_Stake', '5_funding_round', '6_investors',
       '7_source', 'Country/Town', 'Country(HQ)', 'Category', 'main_sector', 'Check vs Companies',
       'Deals Information, Level of Completeness', 'duplicated_conc', 'Duplication', 'Disclosed ',
       'Founded', 'Total  Disclosed Funding',
       'DA Classification_African Company (Yes = 0; No = 1)', 'funding round, DA', 'Industry, DA',
       'Year', 'Month', 'Quarter', 'Half', 'Number of Investors', 'Investor 1', 'Investor 2',
       'Investor 3', 'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12', 'Investor 13', 'Investor 14',
       'Investor 15', 'Cummulative Deals (Disclosed)', 'Cummulative Deals (Undisclosed)',
       'Cummulative Amount', 'Investor 1.1', 'Investor 2.1', 'Investor 3.1', 'Investor 4.1',
       'Investor 5.1', 'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1',
       'Investor 10.1', 'Investor 11.1', 'Investor 12.1', 'Investor 13.1', 'Investor 14.1',
       'Investor 15.1'],
      dtype='object')

In [7]:
for cat_col in cols:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

1_post_date: 695 uniqueness variable
2_post_title: 800 uniqueness variable
3_amount: 281 uniqueness variable
4_Stake: 7 uniqueness variable
5_funding_round: 27 uniqueness variable
6_investors: 717 uniqueness variable
7_source: 1070 uniqueness variable
Country/Town: 34 uniqueness variable
Country(HQ): 34 uniqueness variable
Category: 660 uniqueness variable
main_sector: 48 uniqueness variable
Check vs Companies: 727 uniqueness variable
Deals Information, Level of Completeness: 6 uniqueness variable
duplicated_conc: 1120 uniqueness variable
Duplication: 1 uniqueness variable
Disclosed : 2 uniqueness variable
Founded: 23 uniqueness variable
Total  Disclosed Funding: 280 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
funding round, DA: 8 uniqueness variable
Industry, DA: 13 uniqueness variable
Year: 14 uniqueness variable
Month: 12 uniqueness variable
Quarter: 4 uniqueness variable
Half: 2 uniqueness variable
Number of Investors: 12 uniqueness variable
Investor 1: 30 uniqueness variable
Investor 2: 221 uniqueness variable
Investor 3: 153 uniqueness variable
Investor 4: 103 uniqueness variable
Investor 5: 69 uniqueness variable
Investor 6: 43 uniqueness variable
Investor 7: 21 uniqueness variable
Investor 8: 17 uniqueness variable
Investor 9: 8 uniqueness variable
Investor 10: 7 uniqueness variable
Investor 11: 4 uniqueness variable
Investor 12: 4 uniqueness variable
Investor 13: 2 uniqueness variable
Investor 14: 2 uniqueness variable
Investor 15: 1 uniqueness variable
Cummulative Deals (Disclosed): 0 uniqueness variable
Cummulative Deals (Undisclosed): 0 uniqueness variable
Cummulative Amount: 0 uniqueness variable
Investor 1.1: 30 uniqueness variable
Investor 2.1: 220 uniqueness variable
Investor 3.1: 152 uniqueness variable
Investor 4.1: 102 uniqueness variable
Investor 5.1: 68 uniqueness variable
Investor 6.1: 42 uniqueness variable
Investor 7.1: 20 uniqueness variable
Investor 8.1: 16 uniqueness variable
Investor 9.1: 7 uniqueness variable
Investor 10.1: 6 uniqueness variable
Investor 11.1: 3 uniqueness variable
Investor 12.1: 3 uniqueness variable
Investor 13.1: 1 uniqueness variable
Investor 14.1: 1 uniqueness variable
Investor 15.1: 0 uniqueness variable

In [8]:
df_deals = df_deals.drop(['Investor 13.1','Investor 14.1','Investor 15.1','Investor 15','Duplication'], axis=1)

In [9]:
df_deals.shape

(2059, 54)

In [10]:
df_deals.head(20)

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010-08-20,Kopo Kopo,75000,NaN,Seed,First Light Ventures,https://www.crunchbase.com/organization/kopo-k...,Kenya,Kenya,"Enterprise Software, Financial Services, Infor...",Financial Services,Kopo Kopo,0.900,40410Kopo Kopo75000,1.000,2011.000,6504900.000,0.000,2. Seed,Financial Services,2010.000,8.000,3.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010-09-30,Paga,700000,NaN,Seed,Tim Draper,https://www.crunchbase.com/funding_round/paga-...,Nigeria,Nigeria,"Money Transfer, Airtime, Bill Payments, and SM...",Financial Services,Paga,0.900,40451Paga700000,1.000,2009.000,32700000.000,0.000,2. Seed,Financial Services,2010.000,9.000,3.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010-12-01,Wuzzuf,150000,NaN,Grant,Undisclosed,https://www.crunchbase.com/funding_round/wuzzu...,Egypt,Egypt,"Information Services, Information Technology, ...",Recruitment,Wuzzuf,0.900,40513Wuzzuf150000,1.000,2009.000,7850000.000,0.000,1. Grant,"Employment, Talent & Labour",2010.000,12.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2011-05-01,African Leadership Academy,1500000,NaN,Grant,Omidyar Network,https://www.crunchbase.com/funding_round/afric...,South Africa,South Africa,"E-Learning, Education, Tutoring",Education,African Leadership Academy,0.900,40664African Leadership Academy1500000,1.000,2008.000,55800000.000,0.000,1. Grant,Education,2011.000,5.000,2.000,1.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011-10-01,M-KOPA,Undisclosed,NaN,Series A,Undisclosed,https://www.crunchbase.com/funding_round/m-kop...,Kenya,Kenya,"Energy, Financial Services, Mobile",Energy & Environment Resources,M-Kopa,0.900,40817M-KOPAUndisclosed,0.000,2011.000,161800000.000,0.000,3. Early Venture,NaN,2011.000,10.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2011-10-01,Cellulant,1500000,NaN,Series A,TBL Mirror Fund,https://www.businessdailyafrica.com/markets/Ke...,Kenya,Kenya,"Mobile Payments, Digital Payments, eCommerce, ...",Financial Services,Cellulant,0.900,40817Cellulant1500000,1.000,2004.000,54500000.000,0.000,3. Early Venture,Financial Services,2011.000,10.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011-11-17,Kopo Kopo,865000,NaN,Seed,Undisclosed,https://www.sec.gov/Archives/edgar/data/153343...,Kenya,Kenya,"Enterprise Software, Financial Services, Infor...",Financial Services,Kopo Kopo,0.900,40864Kopo Kopo865000,1.000,2011.000,6504900.000,0.000,2. Seed,Financial Services,2011.000,11.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-11-17,Kopo Kopo,864900,NaN,Seed,Undisclosed,https://www.crunchbase.com/organization/kopo-k...,Kenya,Kenya,"Enterprise Software, Financial Services, Infor...",Financial Services,Kopo Kopo,0.900,40864Kopo Kopo864900,1.000,2011.000,6504900.000,0.000,2. Seed,Financial Services,2011.000,11.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2011-12-01,iROKOtv,3000000,NaN,Series A,Tiger Global Management,https://www.crunchbase.com/funding_round/iroko...,Nigeria,Nigeria,"Online Media, Nollywood Movies, Online Movie a...",Media & Entertainment,iROKOtv,0.900,40878iROKOtv3000000,1.000,2010.000,30000000.000,0.000,3. Early Venture,Media & Entertainment,2011.000,12.000,4.000,2.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2012-01-01,Jumia Group,45000000,NaN,Series A,"Blakeney Management, Rocket Internet, Millicom...",https://www.crunchbase.com/funding_round/jumia...,Nigeria,Nigeria,"E-Commerce, Internet, Shopping Online",E-Commerce & Retail,Jumia Group,0.900,40909Jumia Group45000000,1.000,2012.000,885400000.000,0.000,3. Early Venture,E-commerce & Retail,2012.000,1.000,1.000,1.000,3.000,First Light Ventures,Rocket Internet,Millicom Systems,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,Rocket Internet,Millicom Systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2012-01-01,Konga,3500000,NaN,Seed,Kinnevik AB,https://www.crunchbase.com/organization/konga-...,Nigeria,Nigeria,"Retail, E-Commerce, Customer Service, Delivery...",E-Commerce & Retail,Konga,0.900,40909Konga3500000,1.000,2012.000,79500000.000,0.000,2. Seed,E-commerce & Retail,2012.000,1.000,1.000,1.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2012-01-02,Bridge International Academies,Undisclosed,NaN,Series C,"Khosla Impact, Khosla Ventures, Learn Capital,...",NaN,NaN,NaN,NaN,NaN,NaN,0.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000,1.000,1.000,1.000,5.000,First Light Ventures,Khosla Ventures,Learn Capital,MHS Capital,New Enterprise Associates,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,Khosla Ventures,Learn Capital,MHS Capital,New Enterprise Associates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2012-02-01,elmenus,Undisclosed,NaN,Angel,Undisclosed,https://www.crunchbase.com/funding_round/elmen...,Egypt,Egypt,"Ediscovery, Hospitality, Mobile, Restaurants, ...",E-Commerce & Retail,Elmenus,0.900,40940elmenusUndisclosed,0.000,2011.000,1500000.000,0.000,2. Seed,E-commerce & Retail,2012.000,2.000,1.000,1.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2012-02-29,Zoona,4000000,NaN,Series A,"Accion, Omidyar Network",http://zoonaafrica.blogspot.com/2012/03/omidya...,Zambia,Zambia,"Mobile Money Transfer, Fintech",Financial Services,Zoona,0.900,40968Zoona4000000,1.000,2009.000,19500000.000,0.000,3. Early Venture,Financial Services,2012.000,2.000,1.000,1.000,2.000,First Light Ventures,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2012-02-29,Zoona,500000,NaN,Debt Financing,Mennonite Economic Development Associates,http://zoonaafrica.blogspot.com/2012/03/omidya...,Zambia,Zambia,"Mobile Money Transfer, Fintech",Financial Services,Zoona,0.900,40968Zoona500000,1.000,2009.000,19500000.000,0.000,5. Debt Financing,Financial Services,2012.000,2.000,1.000,1.000,1.000,First Light Ventures,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,First Light Ventures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#find duplicate rows across all columns
duplicateRows = df_deals[df_deals.duplicated()]

In [12]:
duplicateRows

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1
489,2018-04-19,Shezlong,350000,NaN,Seed,"500 Startups, Endure Capital, HIMangel",https://www.menabytes.com/shezlong-350k/,Egypt,Egypt,"Health Care, Medical, mHealth",Healthcare & Pharma,Shezlong,0.900,43209Shezlong350000,1.000,2015.000,950000.000,0.000,2. Seed,Health & Pharmaceuticals,2018.000,4.000,2.000,1.000,3.000,Seedstars,Endure Capital,HIMangel,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Seedstars,Endure Capital,HIMangel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,2018-06-05,Onesha,50000,NaN,Seed,Pangea Accelerator,http://disrupt-africa.com/2018/06/pangea-inves...,Kenya,Kenya,"Architecture, Brand Marketing, Digital Marketi...",Media & Entertainment,Onesha,0.900,43256Onesha50000,1.000,2016.000,100000.000,0.000,2. Seed,Media & Entertainment,2018.000,6.000,2.000,1.000,1.000,Seedstars,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Seedstars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000,1.000,1.000,1.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000,1.000,1.000,1.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000,1.000,1.000,1.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2056,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2057,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_deals

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2056,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2057,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Data cleaning

In [14]:
# Unique_deals

In [15]:
df_deals['1_post_date'] = df_deals['1_post_date'].astype('datetime64')

In [16]:
#filling nan values with mode of the year column
df_deals['1_post_date'] = df_deals['1_post_date'].fillna(df_deals['1_post_date'].mode()[0])

In [17]:
#Add year column from 1_post_date
def get_year(dt):
    return dt.year

df_deals['year'] = df_deals['1_post_date'].map(get_year)
#df_deals

In [18]:
#drop duplicate rows unique deals
Unique_deals_df = df_deals.drop_duplicates()

In [19]:
year_with_highest_deals_df = Unique_deals_df[['year','2_post_title']]

In [20]:
yrVposts = Unique_deals_df.year.value_counts()
yrVposts

2018    510
2019    366
2017    153
2016    108
2015     60
2014     31
2013     20
2012     16
2011      6
2010      4
2008      2
2009      2
2007      1
Name: year, dtype: int64

In [21]:
yrVposts.to_csv('yearVposts.json',index = False)

value of investment yearly, monthly quartly

In [22]:
Unique_deals_df

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,year
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,2019-09-18,Sesi Technologies,50000,NaN,Grant,GoGettaz Agripreneur Prize,https://disrupt-africa.com/2019/09/botswanan-g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000,9.000,3.000,2.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1277,2019-09-18,Maungo Craft,50000,NaN,Grant,GoGettaz Agripreneur Prize,https://disrupt-africa.com/2019/09/botswanan-g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000,9.000,3.000,2.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1278,2019-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000,1.000,1.000,1.000,1.000,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1304,2019-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000,1.000,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1533,2019-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Johnson & Johnson,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,Johnson & Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [23]:
df_deals['3_amount'].isna().sum()
df_deals['3_amount']

781

0        600000
1        400000
2       6000000
3       1800000
4        320000
         ...
2054        NaN
2055        NaN
2056        NaN
2057        NaN
2058        NaN
Name: 3_amount, Length: 2059, dtype: object

In [24]:
# Filling all nan values with zero
df_deals['3_amount'] = df_deals['3_amount'].fillna(0)

In [25]:
# df_deals['3_amount'].astype('int')
df_deals['3_amount'] = df_deals['3_amount'].replace('Undisclosed', '0')
df_deals['3_amount'] = df_deals['3_amount'].astype(int)

In [26]:
print(df_deals.dtypes)

1_post_date        datetime64[ns]
2_post_title               object
3_amount                    int64
4_Stake                   float64
5_funding_round            object
                        ...
Investor 9.1               object
Investor 10.1              object
Investor 11.1              object
Investor 12.1              object
year                        int64
Length: 55, dtype: object

In [27]:
df_deals['3_amount'].astype('int')
df_deals['3_amount'].unique()

0        600000
1        400000
2       6000000
3       1800000
4        320000
         ...
2054          0
2055          0
2056          0
2057          0
2058          0
Name: 3_amount, Length: 2059, dtype: int64

array([    600000,     400000,    6000000,    1800000,     320000,
            75000,     700000,     150000,    1500000,          0,
           865000,     864900,    3000000,   45000000,    3500000,
          4000000,     500000,      20000,    9000000,    2000000,
            10000,   23000000,    4300000,  150000000,   10000000,
           240000,   20000000,    1100000,     120000,     175000,
          2600000,      25000,     300000,     169000,    8000000,
         25000000,     715000,   16000000,       8400,    5500000,
         11000000,    7000000,     750000,     250000,     938000,
          2700000,  100000000,     650000,     115000,    1700000,
          1200000,     450000,    1400000,      50000,      80000,
           330000,     200000,   50000000,    2260000,     780000,
         12500000,    5000000,   41000000,     680000,   14000000,
           142000,    1000000,     900000,     180000,     100000,
          2400000,   13000000,    2100000,     355000,   19000000,
         12000000,      30000,    2200000,   40000000,  400000000,
            57000,     227000,     265000,   23500000,    2500000,
           127000,      37000,   24000000,    7500000,     274700,
            40000,   15000000,      45000,     420000,    1250000,
         11500000,     125000,      15000,      60000,    4100000,
          6300000,     131000,      70000,    1600000,     457000,
          1300000,   21500000,       3500,       5000,      23400,
           112000,    1280000,     224000,   48000000,    1286000,
            21500,   69000000,    3600000,      17000,     705000,
          6700000,       3000,    1520000,   10300000,     237000,
          7150000,    1380000,      64200,      73000,    3200000,
         80000000,     131500,     499000,   13500000,       8000,
           710000,      15700,       1200,      33800,     167800,
           176000,     279600,       9000,    6600000,     525000,
            35000,      18000,    6170000,   55000000,     284000,
           350000,     340000,     266000,      62033,    9870000,
           337300,    2380000,     515000,      12000,     217000,
          3100000,    8600000,    1030000,   47500000,      28000,
          1138350,    6900000,     543000,     160000,      13900,
            33000,      13903,   30800000,      53000,     128900,
           627000,     137000,     580000,      55000,        556,
            17500,     550000,       1000,      65000,       5500,
         10205000,     720000,     238000,       2000,     167000,
           210000,       3700,       2790,   52000000,       4200,
          2270000,     980000,     408000,     890000,     740000,
           692000,     168000,    2510000,       1400,    5020000,
           563000,      34000,   30000000,      51000,   51000000,
             2132,       3424,    4384000,      46000,      41000,
         32500000,    4500000,    1050000,     126480,       2777,
         84400000,    1158000,     800000,     215000,   50100000,
          1850000,   31000000,     470000,      35300,    1475000,
           660000,    2065760,  200000000, 1086610000,     707000,
          1135000,     768000,    6800000,      20500,     685000,
           445000,      22000,    1130000,     830000,     230000,
          2250000,    1040000,      21400,      95000,     560000,
           760000,    5300000,    8700000,    2190000,   26000000,
           640000,      32000,   13630000,       2700,    1560000,
         42000000,    1060000,       8300,    6500000,    1055000,
          6870000,    1120000,    9300000,     562000,     735000,
          3700000,    1900000,      90000,   56000000,     654000,
           317000,      16900,      68000,      16600,      13800,
            11000])

In [28]:
Unique_deals_df['year']

0       2008
1       2008
2       2009
3       2009
4       2010
        ...
1276    2019
1277    2019
1278    2019
1304    2019
1533    2019
Name: year, Length: 1279, dtype: int64

In [29]:
print(Unique_deals_df.dtypes)
Unique_deals_df['3_amount'].astype(int)

1_post_date        datetime64[ns]
2_post_title               object
3_amount                   object
4_Stake                   float64
5_funding_round            object
                        ...
Investor 9.1               object
Investor 10.1              object
Investor 11.1              object
Investor 12.1              object
year                        int64
Length: 55, dtype: object

ValueError: invalid literal for int() with base 10: 'Undisclosed'

In [ ]:
Unique_deals_df['year'].unique()

In [ ]:
value_of_investment_yearly = Unique_deals_df.groupby('year')['3_amount'].sum()

In [ ]:
value_of_investment_yearly

In [ ]:
# value_of_investment_yearly.plot(kind='bar')