In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
from scipy import stats
from IPython.core.interactiveshell import InteractiveShell

In [7]:
# Libraries Settings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter(action="ignore", category=Warning)
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
np.set_printoptions(suppress=True)

def set_seed(seed=42):
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    
pd.set_option("display.width", 100)
pd.set_option("display.max_columns", 60)
pd.set_option("display.max_rows", 25)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [8]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Duplication,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Investor 15,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(5))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df_deals)

##################### Shape #####################
(2059, 59)
##################### Types #####################
1_post_date        datetime64[ns]
2_post_title               object
3_amount                   object
4_Stake                   float64
5_funding_round            object
                        ...
Investor 11.1              object
Investor 12.1              object
Investor 13.1              object
Investor 14.1              object
Investor 15.1             float64
Length: 59, dtype: object
##################### Head #####################
  1_post_date                    2_post_title 3_amount  4_Stake 5_funding_round  \
0  2008-09-01                            biNu   600000      NaN            Seed
1  2008-11-01                            biNu   400000      NaN           Angel
2  2009-12-03                         AllLife  6000000      NaN  Private Equity
3  2009-12-11  Bridge International Academies  1800000      NaN           Grant
4  2010-04-01                            biNu   320000      NaN           Angel

            6_investors                                           7_source  Country/Town  \
0           Artesian VC  https://www.crunchbase.com/search/funding_roun...           NaN
1           Undisclosed  https://www.crunchbase.com/search/funding_roun...     Australia
2  LeapFrog Investments  http://www.prnewswire.co.uk/news-releases/leap...  South Africa
3       Omidyar Network  http://foundationcenter.org/pnd/news/story.jht...           NaN
4           Undisclosed  https://www.crunchbase.com/search/funding_roun...           NaN

    Country(HQ)              Category             main_sector Check vs Companies  \
0           NaN                   NaN                     NaN                NaN
1     Australia       Mobile Internet  Information Technology               biNu
2  South Africa  Insurance, InsurTech      Financial Services            AllLife
3           NaN                   NaN                     NaN                NaN
4           NaN                   NaN                     NaN                NaN

   Deals Information, Level of Completeness duplicated_conc Duplication  Disclosed   Founded  \
0                                     0.500             NaN         NaN         NaN      NaN
1                                     0.900             NaN         NaN       1.000 2008.000
2                                     0.900             NaN         NaN       1.000 2004.000
3                                     0.643             NaN         NaN       1.000      NaN
4                                     0.500             NaN         NaN         NaN      NaN

   Total  Disclosed Funding  DA Classification_African Company (Yes = 0; No = 1)  \
0                       NaN                                                NaN
1              14220000.000                                              1.000
2              12700000.000                                              0.000
3              27800000.000                                                NaN
4                       NaN                                                NaN

   funding round, DA                                 Industry, DA     Year  Month  Quarter  Half  \
0                NaN                                          NaN 2008.000  9.000    3.000 2.000
1            2. Seed  Other Technologies & Information Technology 2008.000 11.000    4.000 2.000
2  6. Private Equity                           Financial Services 2009.000 12.000    4.000 2.000
3           1. Grant                                          NaN 2009.000 12.000    4.000 2.000
4                NaN                                          NaN 2010.000  4.000    2.000 1.000

   Number of Investors       Investor 1 Investor 2 Investor 3 Investor 4 Investor 5 Investor 6  \
0                1.000            #REF!          0          0          0          0          0
1                1.000            #REF!          0          0          0          0          0
2                1.000            #REF!          0          0          0          0          0
3                1.000  Omidyar Network          0          0          0          0          0
4                1.000            #REF!          0          0          0          0          0

  Investor 7 Investor 8 Investor 9 Investor 10 Investor 11 Investor 12 Investor 13 Investor 14  \
0          0          0          0           0           0           0           0           0
1          0          0          0           0           0           0           0           0
2          0          0          0           0           0           0           0           0
3          0          0          0           0           0           0           0           0
4          0          0          0           0           0           0           0           0

   Investor 15  Cummulative Deals (Disclosed)  Cummulative Deals (Undisclosed)  \
0        0.000                            NaN                              NaN
1        0.000                            NaN                              NaN
2        0.000                            NaN                              NaN
3        0.000                            NaN                              NaN
4        0.000                            NaN                              NaN

   Cummulative Amount     Investor 1.1 Investor 2.1 Investor 3.1 Investor 4.1 Investor 5.1  \
0                 NaN            #REF!          NaN          NaN          NaN          NaN
1                 NaN            #REF!          NaN          NaN          NaN          NaN
2                 NaN            #REF!          NaN          NaN          NaN          NaN
3                 NaN  Omidyar Network          NaN          NaN          NaN          NaN
4                 NaN            #REF!          NaN          NaN          NaN          NaN

  Investor 6.1 Investor 7.1 Investor 8.1 Investor 9.1 Investor 10.1 Investor 11.1 Investor 12.1  \
0          NaN          NaN          NaN          NaN           NaN           NaN           NaN
1          NaN          NaN          NaN          NaN           NaN           NaN           NaN
2          NaN          NaN          NaN          NaN           NaN           NaN           NaN
3          NaN          NaN          NaN          NaN           NaN           NaN           NaN
4          NaN          NaN          NaN          NaN           NaN           NaN           NaN

  Investor 13.1 Investor 14.1  Investor 15.1
0           NaN           NaN            NaN
1           NaN           NaN            NaN
2           NaN           NaN            NaN
3           NaN           NaN            NaN
4           NaN           NaN            NaN
##################### NA #####################
1_post_date         783
2_post_title        781
3_amount            781
4_Stake            2045
5_funding_round     781
                   ...
Investor 11.1      2056
Investor 12.1      2056
Investor 13.1      2058
Investor 14.1      2058
Investor 15.1      2059
Length: 59, dtype: int64
##################### Quantiles #####################
                                                      0.000    0.050      0.500        0.950  \
4_Stake                                               0.070    0.090      0.125        0.370
Deals Information, Level of Completeness              0.400    0.900      0.900        0.900
Disclosed                                             0.000    0.000      1.000        1.000
Founded                                               0.000 2008.950   2015.000     2018.000
Total  Disclosed Funding                              0.000    0.000 464000.000 80500000.000
DA Classification_African Company (Yes = 0; No ...    0.000    0.000      0.000        0.000
Year                                               1900.000 1900.000   2018.000     2019.000
Month                                                 1.000    1.000      6.000       12.000
Quarter                                               1.000    1.000      2.000        4.000
Half                                                  1.000    1.000      1.000        2.000
Number of Investors                                   1.000    1.000      1.000        5.000
Investor 15                                           0.000    0.000      0.000        0.000
Cummulative Deals (Disclosed)                           NaN      NaN        NaN          NaN
Cummulative Deals (Undisclosed)                         NaN      NaN        NaN          NaN
Cummulative Amount                                      NaN      NaN        NaN          NaN
Investor 15.1                                           NaN      NaN        NaN          NaN

                                                           0.990          1.000
4_Stake                                                    0.474          0.500
Deals Information, Level of Completeness                   0.900          1.000
Disclosed                                                  1.000          1.000
Founded                                                 2019.000       2019.000
Total  Disclosed Funding                           178960000.000 1086610000.000
DA Classification_African Company (Yes = 0; No ...         1.000          1.000
Year                                                    2019.000       2019.000
Month                                                     12.000         12.000
Quarter                                                    4.000          4.000
Half                                                       2.000          2.000
Number of Investors                                        8.000         14.000
Investor 15                                                0.000          0.000
Cummulative Deals (Disclosed)                                NaN            NaN
Cummulative Deals (Undisclosed)                              NaN            NaN
Cummulative Amount                                           NaN            NaN
Investor 15.1                                                NaN            NaN

In [11]:
categorical = df_deals.select_dtypes(["category", "object"]).columns

In [12]:
categorical

Index(['2_post_title', '3_amount', '5_funding_round', '6_investors', '7_source', 'Country/Town',
       'Country(HQ)', 'Category', 'main_sector', 'Check vs Companies', 'duplicated_conc',
       'Duplication', 'funding round, DA', 'Industry, DA', 'Investor 1', 'Investor 2',
       'Investor 3', 'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12', 'Investor 13', 'Investor 14',
       'Investor 1.1', 'Investor 2.1', 'Investor 3.1', 'Investor 4.1', 'Investor 5.1',
       'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1', 'Investor 10.1',
       'Investor 11.1', 'Investor 12.1', 'Investor 13.1', 'Investor 14.1'],
      dtype='object')

In [15]:
for cat_col in categorical:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

2_post_title: 800 uniqueness variable
3_amount: 281 uniqueness variable
5_funding_round: 27 uniqueness variable
6_investors: 717 uniqueness variable
7_source: 1070 uniqueness variable
Country/Town: 34 uniqueness variable
Country(HQ): 34 uniqueness variable
Category: 660 uniqueness variable
main_sector: 48 uniqueness variable
Check vs Companies: 727 uniqueness variable
duplicated_conc: 1120 uniqueness variable
Duplication: 1 uniqueness variable
funding round, DA: 8 uniqueness variable
Industry, DA: 13 uniqueness variable
Investor 1: 30 uniqueness variable
Investor 2: 221 uniqueness variable
Investor 3: 153 uniqueness variable
Investor 4: 103 uniqueness variable
Investor 5: 69 uniqueness variable
Investor 6: 43 uniqueness variable
Investor 7: 21 uniqueness variable
Investor 8: 17 uniqueness variable
Investor 9: 8 uniqueness variable
Investor 10: 7 uniqueness variable
Investor 11: 4 uniqueness variable
Investor 12: 4 uniqueness variable
Investor 13: 2 uniqueness variable
Investor 14: 2 uniqueness variable
Investor 1.1: 30 uniqueness variable
Investor 2.1: 220 uniqueness variable
Investor 3.1: 152 uniqueness variable
Investor 4.1: 102 uniqueness variable
Investor 5.1: 68 uniqueness variable
Investor 6.1: 42 uniqueness variable
Investor 7.1: 20 uniqueness variable
Investor 8.1: 16 uniqueness variable
Investor 9.1: 7 uniqueness variable
Investor 10.1: 6 uniqueness variable
Investor 11.1: 3 uniqueness variable
Investor 12.1: 3 uniqueness variable
Investor 13.1: 1 uniqueness variable
Investor 14.1: 1 uniqueness variable

In [20]:
df_deals['Investor 12.1'].unique()

array([nan, ' Chris Hughes', ' ACE & Company', ' 4DX'], dtype=object)

In [25]:
df_deals = df_deals.drop(['Investor 13.1','Investor 14.1','Investor 15.1'], axis = 1)

KeyError: "['Investor 13.1' 'Investor 14.1'] not found in axis"

In [23]:
df_deals.columns

Index(['1_post_date', '2_post_title', '3_amount', '4_Stake', '5_funding_round', '6_investors',
       '7_source', 'Country/Town', 'Country(HQ)', 'Category', 'main_sector', 'Check vs Companies',
       'Deals Information, Level of Completeness', 'duplicated_conc', 'Duplication', 'Disclosed ',
       'Founded', 'Total  Disclosed Funding',
       'DA Classification_African Company (Yes = 0; No = 1)', 'funding round, DA', 'Industry, DA',
       'Year', 'Month', 'Quarter', 'Half', 'Number of Investors', 'Investor 1', 'Investor 2',
       'Investor 3', 'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12', 'Investor 13', 'Investor 14',
       'Investor 15', 'Cummulative Deals (Disclosed)', 'Cummulative Deals (Undisclosed)',
       'Cummulative Amount', 'Investor 1.1', 'Investor 2.1', 'Investor 3.1', 'Investor 4.1',
       'Investor 5.1', 'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1',
       'Investor 10.1', 'Investor 11.1', 'Investor 12.1', 'Investor 15.1'],
      dtype='object')

In [24]:
df_deals['Investor 15.1'].unique()

array([nan])