In [1]:
import pandas as pd
import numpy as np
# import sklearn as sk
from matplotlib import pyplot as plt
import seaborn as sn
import seaborn as sns
from matplotlib import pyplot
from keras.models import Sequential
from keras.layers import Dense
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss
from math import sqrt

# Creating the modeling dataset
# from sklearn.datasets import make_classification
# Data processing

# Model and performance
#from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report

# Oversampling and under sampling
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss
from collections import Counter
%matplotlib inline

2023-04-05 16:22:23.192644: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-05 16:22:29.724001: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-05 16:22:29.724037: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-04-05 16:22:56.009166: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-04-05 16:22:56.014983: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-04-05 16:22:56.015016: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
# Import necessary libraries
# import numpy as np
# import pandas as pd
# from keras.models import Sequential
# from keras.layers import Dense

# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(8, activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Select the output nodes with the highest activation levels
# investors = np.argsort(predictions)[0][-15:]

In [3]:
# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# investor_names = data.columns[10:].tolist()
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(len(investor_names), activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Map the numeric output to investor names
# investor_probs = {name: prob for name, prob in zip(investor_names, predictions[0])}
# top_investors = sorted(investor_probs, key=investor_probs.get, reverse=True)[:15]

In [4]:
df = pd.read_excel ('data/Companies.xlsx')
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Average time of rounds(days),Year of recieving Series A
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0,2012.0
1,Andela,Andela invests in Africa’s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395.0,2015.0
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0,NaN

In [5]:
cols = df.columns

In [6]:
for cat_col in cols:
    print(f"{cat_col}: {df[cat_col].nunique()} uniqueness variable")

1_Company_name: 3084 uniqueness variable
2_Company_description: 2829 uniqueness variable
3_Status: 5 uniqueness variable
4_Year_founded: 37 uniqueness variable
5_Headquarters: 423 uniqueness variable
6_Other_offices: 54 uniqueness variable
7.1_Country HQ: 58 uniqueness variable
7.2_Assigned_Country (Africa): 33 uniqueness variable
8_Countries_of_operation_(Business Model/Market): 147 uniqueness variable
9_Country_Parent Incorporation: 15 uniqueness variable
10_Total_Venture_Funding (Disclosed): 9 uniqueness variable
10.1_Funding Rounds (Named): 3 uniqueness variable
10.2_Number of Venture Funding rounds (#): 4 uniqueness variable
11_Investors: 157 uniqueness variable
12_Company_Valuation: 0 uniqueness variable
13_Company_Valuation_Date: 0 uniqueness variable
14_Last_funding_round_raised_date: 107 uniqueness variable
15_Last_funding_round_raised_type: 43 uniqueness variable
16_Last funding round raised amount: 198 uniqueness variable
17_Largest_round: 30 uniqueness variable
18_Amount: 197 uniqueness variable
19_Founders: 1892 uniqueness variable
20_Female_Co-Founder (Yes = 1; No  = 0): 3 uniqueness variable
21_Main_sector: 92 uniqueness variable
22_Categories: 1354 uniqueness variable
23_Business_Model: 16 uniqueness variable
24_Accelerators_Attended: 70 uniqueness variable
25_Number_of_employees: 25 uniqueness variable
26_Website: 2664 uniqueness variable
27_Linkedin: 2011 uniqueness variable
28_Twitter: 2058 uniqueness variable
29_Facebook: 2171 uniqueness variable
Companies Information, Level of Completeness: 29 uniqueness variable
Duplication: 0 uniqueness variable
Companies with a Deal Check: 716 uniqueness variable
Main Sector / Industry Check: 2 uniqueness variable
DA Acquired or Exited or Dead: 77 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
Industry, DA Classified: 14 uniqueness variable
Last Funding Round, DA Classified: 10 uniqueness variable
Largest Funding Round, DA Classified: 9 uniqueness variable
Stage, DA Classified: 3 uniqueness variable
Total Number of Funding Rounds: 0 uniqueness variable
Total Number of Venture Funding Rounds: 0 uniqueness variable
Total Funding todate (disclosed): 0 uniqueness variable
Total Venture funding todate (disclosed): 0 uniqueness variable
Acquired: 0 uniqueness variable
1. Grant: 0 uniqueness variable
2. Seed: 0 uniqueness variable
3. Early Venture: 0 uniqueness variable
4. Late Venture: 0 uniqueness variable
5. Debt Financing: 0 uniqueness variable
6.Private Equity: 0 uniqueness variable
7. Offerings: 0 uniqueness variable
8. Exits: 0 uniqueness variable
2010: 0 uniqueness variable
2011: 0 uniqueness variable
2012: 0 uniqueness variable
2013: 0 uniqueness variable
2014: 0 uniqueness variable
2015: 0 uniqueness variable
2016: 0 uniqueness variable
2017: 0 uniqueness variable
2018: 0 uniqueness variable
2019: 0 uniqueness variable
Investors: 0 uniqueness variable
Unnamed: 66: 0 uniqueness variable
Unnamed: 67: 0 uniqueness variable
Unnamed: 68: 0 uniqueness variable
Unnamed: 69: 0 uniqueness variable
Unnamed: 70: 0 uniqueness variable
Unnamed: 71: 0 uniqueness variable
Unnamed: 72: 0 uniqueness variable
Unnamed: 73: 0 uniqueness variable
Unnamed: 74: 0 uniqueness variable
Unnamed: 75: 0 uniqueness variable
Unnamed: 76: 0 uniqueness variable
Unnamed: 77: 0 uniqueness variable
Unnamed: 78: 0 uniqueness variable
Unnamed: 79: 0 uniqueness variable
Unnamed: 80: 0 uniqueness variable
Duplication.1: 1407 uniqueness variable
Unnamed: 82: 0 uniqueness variable
Unnamed: 83: 0 uniqueness variable
Unnamed: 84: 0 uniqueness variable
Unnamed: 85: 0 uniqueness variable
Unnamed: 86: 0 uniqueness variable
Unnamed: 87: 0 uniqueness variable
Unnamed: 88: 0 uniqueness variable
Unnamed: 89: 0 uniqueness variable
Unnamed: 90: 0 uniqueness variable
Unnamed: 91: 0 uniqueness variable
Unnamed: 92: 0 uniqueness variable
Unnamed: 93: 0 uniqueness variable
Unnamed: 94: 0 uniqueness variable
Unnamed: 95: 0 uniqueness variable
Unnamed: 96: 0 uniqueness variable
Unnamed: 97: 0 uniqueness variable
Unnamed: 98: 0 uniqueness variable
Unnamed: 99: 0 uniqueness variable
Unnamed: 100: 0 uniqueness variable
Unnamed: 101: 0 uniqueness variable
Unnamed: 102: 0 uniqueness variable
Unnamed: 103: 0 uniqueness variable
Unnamed: 104: 0 uniqueness variable
Unnamed: 105: 0 uniqueness variable
Unnamed: 106: 0 uniqueness variable
Unnamed: 107: 0 uniqueness variable
Unnamed: 108: 0 uniqueness variable
Unnamed: 109: 0 uniqueness variable
Unnamed: 110: 0 uniqueness variable
Unnamed: 111: 0 uniqueness variable
Unnamed: 112: 0 uniqueness variable
Unnamed: 113: 0 uniqueness variable
Unnamed: 114: 0 uniqueness variable
Unnamed: 115: 0 uniqueness variable
Average time of rounds(days): 195 uniqueness variable
Year of recieving Series A : 9 uniqueness variable

In [7]:
#listing all columns
my_list = df.columns.values.tolist()

In [8]:
df = df.drop(['Total Number of Funding Rounds','Total Number of Venture Funding Rounds',
 'Total Funding todate (disclosed)','Total Venture funding todate (disclosed)','Acquired',
 '1. Grant','2. Seed', '3. Early Venture','4. Late Venture', '5. Debt Financing','6.Private Equity','7. Offerings',
 '8. Exits',2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,'Investors','Unnamed: 66','Unnamed: 67','Unnamed: 68',
 'Unnamed: 69','Unnamed: 70','Unnamed: 71','Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76',
 'Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Duplication.1','Unnamed: 82','Unnamed: 83','Unnamed: 84',
 'Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91','Unnamed: 92',
 'Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100',
 'Unnamed: 101','Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108',
 'Unnamed: 109','Unnamed: 110','Unnamed: 111','Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Average time of rounds(days)',
 'Year of recieving Series A '], axis=1)

In [9]:
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,"Companies Information, Level of Completeness",Duplication,Companies with a Deal Check,Main Sector / Industry Check,DA Acquired or Exited or Dead,DA Classification_African Company (Yes = 0; No = 1),"Industry, DA Classified","Last Funding Round, DA Classified","Largest Funding Round, DA Classified","Stage, DA Classified"
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,0.709677,NaN,Jumia Group,1.0,Jumia Group,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
1,Andela,Andela invests in Africa’s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,0.870968,NaN,Andela,1.0,NaN,NaN,Other Technologies & Information Technology,4. Late Venture,4. Late Venture,Growth
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,0.677419,NaN,Takealot,1.0,Takealot,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,0.838710,NaN,Zola Electric,1.0,NaN,0.0,Energy & Resources,5. Debt Financing,4. Late Venture,Growth
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,0.709677,NaN,d.light,1.0,NaN,0.0,Energy & Resources,4. Late Venture,5. Debt Financing,Growth

In [10]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,...,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cols = df_deals.columns

In [12]:
for cat_col in cols:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

1_post_date: 695 uniqueness variable
2_post_title: 800 uniqueness variable
3_amount: 281 uniqueness variable
4_Stake: 7 uniqueness variable
5_funding_round: 27 uniqueness variable
6_investors: 717 uniqueness variable
7_source: 1070 uniqueness variable
Country/Town: 34 uniqueness variable
Country(HQ): 34 uniqueness variable
Category: 660 uniqueness variable
main_sector: 48 uniqueness variable
Check vs Companies: 727 uniqueness variable
Deals Information, Level of Completeness: 6 uniqueness variable
duplicated_conc: 1120 uniqueness variable
Duplication: 1 uniqueness variable
Disclosed : 2 uniqueness variable
Founded: 23 uniqueness variable
Total  Disclosed Funding: 280 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
funding round, DA: 8 uniqueness variable
Industry, DA: 13 uniqueness variable
Year: 14 uniqueness variable
Month: 12 uniqueness variable
Quarter: 4 uniqueness variable
Half: 2 uniqueness variable
Number of Investors: 12 uniqueness variable
Investor 1: 30 uniqueness variable
Investor 2: 221 uniqueness variable
Investor 3: 153 uniqueness variable
Investor 4: 103 uniqueness variable
Investor 5: 69 uniqueness variable
Investor 6: 43 uniqueness variable
Investor 7: 21 uniqueness variable
Investor 8: 17 uniqueness variable
Investor 9: 8 uniqueness variable
Investor 10: 7 uniqueness variable
Investor 11: 4 uniqueness variable
Investor 12: 4 uniqueness variable
Investor 13: 2 uniqueness variable
Investor 14: 2 uniqueness variable
Investor 15: 1 uniqueness variable
Cummulative Deals (Disclosed): 0 uniqueness variable
Cummulative Deals (Undisclosed): 0 uniqueness variable
Cummulative Amount: 0 uniqueness variable
Investor 1.1: 30 uniqueness variable
Investor 2.1: 220 uniqueness variable
Investor 3.1: 152 uniqueness variable
Investor 4.1: 102 uniqueness variable
Investor 5.1: 68 uniqueness variable
Investor 6.1: 42 uniqueness variable
Investor 7.1: 20 uniqueness variable
Investor 8.1: 16 uniqueness variable
Investor 9.1: 7 uniqueness variable
Investor 10.1: 6 uniqueness variable
Investor 11.1: 3 uniqueness variable
Investor 12.1: 3 uniqueness variable
Investor 13.1: 1 uniqueness variable
Investor 14.1: 1 uniqueness variable
Investor 15.1: 0 uniqueness variable

In [13]:
df_deals.shape

(2059, 59)

In [17]:
df_deals['Investor 2'].unique()

array([0, ' Rocket Internet', ' Khosla Ventures', ' Omidyar Network',
       ' Goodwell Investments', ' Opes Impact Fund', ' Kinnevik AB',
       ' Cairo Angels', '  Accion Venture Lab', ' 500 startups',
       ' Middle East Venture Partners (MEVP)',
       ' International Finance Corporation', ' Startupbootcamp',
       ' Firestartr', ' Synergy Growth', ' Steve Case', ' Vulcan Capital',
       nan, ' Carma Axlr8r', ' Orange', ' Blue Haven Initiative',
       ' Pantera Capital', ' Interswitch', ' Naspers',
       ' Newtown Partners', ' CRE Venture Capital', ' GV',
       ' Willem van Zyl', ' Investo', ' Piton Capital', ' Techstars',
       ' Amadeo Brenninkmeijer', ' Greg Kidd', ' The Family',
       ' Bamboo Finance', ' Western Technology Investment',
       ' Lundin Foundation', ' Lateral Capital', ' Virgin Group',
       ' Patrick Pichette', ' Nader El-Batrawi', ' Mahmoud Barakat',
       ' Jim Sorenson', ' Nyca Partners', '  Vinny Lingham',
       ' Prelude Ventures', ' Canal+', ' Olive Tree Ventures',
       ' Techstars Ventures', ' MTN Group', ' vodafone Ventures',
       ' Amr Awadallah', ' Spark Capital', ' A15', ' Y Combinator',
       ' 4Di', ' Hotels.ng', ' Steven Tamm', '  Omidyar Network',
       ' Jacques Antoine Granjon', ' Energy Access Ventures',
       ' U.S. Agency for International Development (USAID)',
       ' Factor E Ventures', ' MEST Africa', ' Accion Venture Lab',
       ' Jacques Ludik', ' LocalGlobe', ' Silicon Badia',
       ' Beyond the Grid', ' Right Side Capital Management',
       ' ACE & Company', ' South Carolina Angels', ' Maris Capital',
       ' Novastar Ventures', ' Startupbootcamp InsurTech London\n',
       ' Balderton Capital Balderton Capital', ' Ty Danco',
       ' Soma Capital', ' Spring Accelerator', ' Bombardier',
       '  1776 Ventures', ' Plug and Play', ' Savannah Fund',
       ' Faden Media', ' Smollan', ' Merck and Equilateral Ventures',
       ' Zephyr Acorn', ' Majlis Investment Management',
       ' Persistent Energy Capital', ' 500 Startups', ' BoostVC',
       ' SunFunder', ' Investisseurs & Partenaires (I&P)', ' Hollard',
       ' Social Capital', ' TLcom Capital Partners', ' Vodafone Ventures',
       ' Kauffman Fellows',
       'Techstars Atlanta in partnership with Cox Enterprises',
       ' Breyer Capital', ' Steel Africa', ' Dubai Angel Investors',
       ' Endure Capital', ' GE Ventures',
       ' Electrification Financing Initiative',
       ' The Danone Communities Mutual Fund', ' CFAO GROUP', ' TRK Group',
       ' Co-Creation Hub Nigeria', ' Norrsken Foundation',
       ' Generation Investment Management',
       ' European Investment Bank (EIB)', ' The MasterCard Foundation',
       ' LC Partners', ' responsAbility', ' Cross Culture Ventures',
       ' DiGame', ' French Partners', ' Orange Digital Ventures',
       ' Kingsway Capital', ' Draper Dark Flow', ' ASISA ESD Fund',
       ' Satya Capital', ' Soeximex', ' Tekton Ventures',
       ' Salem ben Saleh Ba Wazier', ' Village Capital', ' 4Di Capital',
       'Africa Future Limited', ' Rabobank Foundation', ' AgFunder',
       ' Collins Onuegbu', ' Village Global', ' Zahra Nasser',
       ' Velocity Capital Private Equity', ' Ventures Platform',
       '  Mastercard Foundation', ' Mastercard Foundation',
       ' Monex Ventures', ' KISP Ventures', ' Alex Angels',
       ' Unreasonable Capital', ' Investec', ' EdVentures', ' Proparco',
       ' DOEN Participaties', ' Intilaq', ' Mastercard',
       ' Oikocredit International', ' Co-creation Hub Nigeria',
       ' Kima Ventures', ' 1776 Ventures', ' Compass Capital',
       ' Raed Ventures', ' Frederik Gerner', ' Gulf Capital', ' Aster',
       ' Algebra Ventures', ' Hollard Insurance', ' Sanari Capital',
       ' Egypt Ventures', ' Symbiotics', '  Seventure Partners',
       ' Good Energies Foundations', ' Small Foundation ', ' Seedstars',
       ' FMO', ' Silverback Capital', ' Catalyst Princinpal Partners',
       ' Liil Ventures', ' MFX Solutions', ' Jabbar Internet Group',
       ' Chan Zuckerberg Initiative', ' Compass Venture Capital',
       ' AK IMPACT INVESTORS', ' Pharos Holding',
       ' Samsung NEXT Ventures', ' Blockchain.com', ' Esther Dyson',
       ' Pace-Able Foundation', ' Compass Insure', ' PolyChain Capital',
       ' Africa Healthcare Fund', ' ResponsAbility',
       ' Verod Capital Management', ' Seas Capital', ' Axel Johnson Inc',
       ' studio Expa', ' French Institute in South Africa (IFAS)',
       ' Endeavor Catalyst', ' Bloom Equity', ' Go-Ventures',
       ' Indigo Venture Partners', ' ELMA Investments',
       ' Adventure Capital', ' Neon Ventures',
       ' African Rainbow Partners', ' NFX Capital', ' RGAx', ' Yamaha',
       ' BECO Capital', ' All On Energy', ' Mohamed El Sewedy',
       ' Ventures Platform Foundation', ' Quona Capital',
       '  Fifty Years Fund', ' Kouros', ' IDG Capital', ' Shravan Shroff',
       ' DOB Equity', ' Umkathi Wethu Ventures', ' UnityVC',
       ' Villgro Kenya', ' Growth Africa', ' Goldman Sachs',
       ' Ocean on 76 Group', ' Melvyn Lubega', ' Bamboo Capital Partners',
       ' DOEN Foundation', ' Ragnar Meitern ', ' Vision Ventures',
       ' Flat6Labs'], dtype=object)