In [85]:
import pandas as pd
import numpy as np
# import sklearn as sk
from matplotlib import pyplot as plt
import seaborn as sn
import seaborn as sns
from matplotlib import pyplot
from keras.models import Sequential
from keras.layers import Dense
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss
from math import sqrt

# Creating the modeling dataset
# from sklearn.datasets import make_classification
# Data processing

# Model and performance
#from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report

# Oversampling and under sampling
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss
from collections import Counter
%matplotlib inline

In [86]:
# Import necessary libraries
# import numpy as np
# import pandas as pd
# from keras.models import Sequential
# from keras.layers import Dense

# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(8, activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Select the output nodes with the highest activation levels
# investors = np.argsort(predictions)[0][-15:]

In [87]:
# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# investor_names = data.columns[10:].tolist()
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(len(investor_names), activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Map the numeric output to investor names
# investor_probs = {name: prob for name, prob in zip(investor_names, predictions[0])}
# top_investors = sorted(investor_probs, key=investor_probs.get, reverse=True)[:15]

In [88]:
df = pd.read_excel ('data/Companies.xlsx')
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Average time of rounds(days),Year of recieving Series A
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0,2012.0
1,Andela,Andela invests in Africa’s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395.0,2015.0
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0,NaN

In [89]:
cols = df.columns

In [90]:
for cat_col in cols:
    print(f"{cat_col}: {df[cat_col].nunique()} uniqueness variable")

1_Company_name: 3084 uniqueness variable
2_Company_description: 2829 uniqueness variable
3_Status: 5 uniqueness variable
4_Year_founded: 37 uniqueness variable
5_Headquarters: 423 uniqueness variable
6_Other_offices: 54 uniqueness variable
7.1_Country HQ: 58 uniqueness variable
7.2_Assigned_Country (Africa): 33 uniqueness variable
8_Countries_of_operation_(Business Model/Market): 147 uniqueness variable
9_Country_Parent Incorporation: 15 uniqueness variable
10_Total_Venture_Funding (Disclosed): 9 uniqueness variable
10.1_Funding Rounds (Named): 3 uniqueness variable
10.2_Number of Venture Funding rounds (#): 4 uniqueness variable
11_Investors: 157 uniqueness variable
12_Company_Valuation: 0 uniqueness variable
13_Company_Valuation_Date: 0 uniqueness variable
14_Last_funding_round_raised_date: 107 uniqueness variable
15_Last_funding_round_raised_type: 43 uniqueness variable
16_Last funding round raised amount: 198 uniqueness variable
17_Largest_round: 30 uniqueness variable
18_Amount: 197 uniqueness variable
19_Founders: 1892 uniqueness variable
20_Female_Co-Founder (Yes = 1; No  = 0): 3 uniqueness variable
21_Main_sector: 92 uniqueness variable
22_Categories: 1354 uniqueness variable
23_Business_Model: 16 uniqueness variable
24_Accelerators_Attended: 70 uniqueness variable
25_Number_of_employees: 25 uniqueness variable
26_Website: 2664 uniqueness variable
27_Linkedin: 2011 uniqueness variable
28_Twitter: 2058 uniqueness variable
29_Facebook: 2171 uniqueness variable
Companies Information, Level of Completeness: 29 uniqueness variable
Duplication: 0 uniqueness variable
Companies with a Deal Check: 716 uniqueness variable
Main Sector / Industry Check: 2 uniqueness variable
DA Acquired or Exited or Dead: 77 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
Industry, DA Classified: 14 uniqueness variable
Last Funding Round, DA Classified: 10 uniqueness variable
Largest Funding Round, DA Classified: 9 uniqueness variable
Stage, DA Classified: 3 uniqueness variable
Total Number of Funding Rounds: 0 uniqueness variable
Total Number of Venture Funding Rounds: 0 uniqueness variable
Total Funding todate (disclosed): 0 uniqueness variable
Total Venture funding todate (disclosed): 0 uniqueness variable
Acquired: 0 uniqueness variable
1. Grant: 0 uniqueness variable
2. Seed: 0 uniqueness variable
3. Early Venture: 0 uniqueness variable
4. Late Venture: 0 uniqueness variable
5. Debt Financing: 0 uniqueness variable
6.Private Equity: 0 uniqueness variable
7. Offerings: 0 uniqueness variable
8. Exits: 0 uniqueness variable
2010: 0 uniqueness variable
2011: 0 uniqueness variable
2012: 0 uniqueness variable
2013: 0 uniqueness variable
2014: 0 uniqueness variable
2015: 0 uniqueness variable
2016: 0 uniqueness variable
2017: 0 uniqueness variable
2018: 0 uniqueness variable
2019: 0 uniqueness variable
Investors: 0 uniqueness variable
Unnamed: 66: 0 uniqueness variable
Unnamed: 67: 0 uniqueness variable
Unnamed: 68: 0 uniqueness variable
Unnamed: 69: 0 uniqueness variable
Unnamed: 70: 0 uniqueness variable
Unnamed: 71: 0 uniqueness variable
Unnamed: 72: 0 uniqueness variable
Unnamed: 73: 0 uniqueness variable
Unnamed: 74: 0 uniqueness variable
Unnamed: 75: 0 uniqueness variable
Unnamed: 76: 0 uniqueness variable
Unnamed: 77: 0 uniqueness variable
Unnamed: 78: 0 uniqueness variable
Unnamed: 79: 0 uniqueness variable
Unnamed: 80: 0 uniqueness variable
Duplication.1: 1407 uniqueness variable
Unnamed: 82: 0 uniqueness variable
Unnamed: 83: 0 uniqueness variable
Unnamed: 84: 0 uniqueness variable
Unnamed: 85: 0 uniqueness variable
Unnamed: 86: 0 uniqueness variable
Unnamed: 87: 0 uniqueness variable
Unnamed: 88: 0 uniqueness variable
Unnamed: 89: 0 uniqueness variable
Unnamed: 90: 0 uniqueness variable
Unnamed: 91: 0 uniqueness variable
Unnamed: 92: 0 uniqueness variable
Unnamed: 93: 0 uniqueness variable
Unnamed: 94: 0 uniqueness variable
Unnamed: 95: 0 uniqueness variable
Unnamed: 96: 0 uniqueness variable
Unnamed: 97: 0 uniqueness variable
Unnamed: 98: 0 uniqueness variable
Unnamed: 99: 0 uniqueness variable
Unnamed: 100: 0 uniqueness variable
Unnamed: 101: 0 uniqueness variable
Unnamed: 102: 0 uniqueness variable
Unnamed: 103: 0 uniqueness variable
Unnamed: 104: 0 uniqueness variable
Unnamed: 105: 0 uniqueness variable
Unnamed: 106: 0 uniqueness variable
Unnamed: 107: 0 uniqueness variable
Unnamed: 108: 0 uniqueness variable
Unnamed: 109: 0 uniqueness variable
Unnamed: 110: 0 uniqueness variable
Unnamed: 111: 0 uniqueness variable
Unnamed: 112: 0 uniqueness variable
Unnamed: 113: 0 uniqueness variable
Unnamed: 114: 0 uniqueness variable
Unnamed: 115: 0 uniqueness variable
Average time of rounds(days): 195 uniqueness variable
Year of recieving Series A : 9 uniqueness variable

In [91]:
#listing all columns
my_list = df.columns.values.tolist()

In [92]:
df = df.drop(['Total Number of Funding Rounds','Total Number of Venture Funding Rounds',
 'Total Funding todate (disclosed)','Total Venture funding todate (disclosed)','Acquired',
 '1. Grant','2. Seed', '3. Early Venture','4. Late Venture', '5. Debt Financing','6.Private Equity','7. Offerings',
 '8. Exits',2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,'Investors','Unnamed: 66','Unnamed: 67','Unnamed: 68',
 'Unnamed: 69','Unnamed: 70','Unnamed: 71','Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76',
 'Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Duplication.1','Unnamed: 82','Unnamed: 83','Unnamed: 84',
 'Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91','Unnamed: 92',
 'Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100',
 'Unnamed: 101','Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108',
 'Unnamed: 109','Unnamed: 110','Unnamed: 111','Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Average time of rounds(days)',
 'Year of recieving Series A '], axis=1)

In [93]:
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,"Companies Information, Level of Completeness",Duplication,Companies with a Deal Check,Main Sector / Industry Check,DA Acquired or Exited or Dead,DA Classification_African Company (Yes = 0; No = 1),"Industry, DA Classified","Last Funding Round, DA Classified","Largest Funding Round, DA Classified","Stage, DA Classified"
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,0.709677,NaN,Jumia Group,1.0,Jumia Group,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
1,Andela,Andela invests in Africa’s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,0.870968,NaN,Andela,1.0,NaN,NaN,Other Technologies & Information Technology,4. Late Venture,4. Late Venture,Growth
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,0.677419,NaN,Takealot,1.0,Takealot,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,0.838710,NaN,Zola Electric,1.0,NaN,0.0,Energy & Resources,5. Debt Financing,4. Late Venture,Growth
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,0.709677,NaN,d.light,1.0,NaN,0.0,Energy & Resources,4. Late Venture,5. Debt Financing,Growth

In [ ]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

In [ ]:
cols = df_deals.columns

In [ ]:
for cat_col in cols:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

In [ ]:
df_deals.shape

In [ ]:
df_deals['Investor 2'].unique()

In [ ]:
df_deals.columns

In [ ]:
df_deals = df_deals.drop(['Investor 1','Cummulative Deals (Disclosed)','Cummulative Deals (Undisclosed)','Cummulative Amount','7_source','4_Stake','Investor 2', 'Investor 3',
       'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12','Investor 13','Investor 14','Investor 13.1','Investor 14.1','Investor 15.1','Investor 15','Duplication','Investor 1.1',
       'Investor 2.1', 'Investor 3.1', 'Investor 4.1', 'Investor 5.1',
       'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1',
       'Investor 10.1', 'Investor 11.1', 'Investor 12.1'], axis=1)

In [ ]:
df_deals.head()

In [ ]:
df_deals["Cummulative Amount"].unique()