In [1]:
import pandas as pd
import numpy as np
# import sklearn as sk
from matplotlib import pyplot as plt
import seaborn as sn
import seaborn as sns
from matplotlib import pyplot
from keras.models import Sequential
from keras.layers import Dense
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss
from math import sqrt

# Creating the modeling dataset
# from sklearn.datasets import make_classification
# Data processing

# Model and performance
#from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report

# Oversampling and under sampling
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss
from collections import Counter
%matplotlib inline

2023-04-08 11:12:43.380314: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-08 11:12:48.746078: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-08 11:12:48.746131: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-04-08 11:13:05.973696: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-04-08 11:13:05.979626: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-04-08 11:13:05.979665: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:

# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(8, activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Select the output nodes with the highest activation levels
# investors = np.argsort(predictions)[0][-15:]

In [3]:
# Load and preprocess the data
# data = pd.read_csv("startup_funding.csv")
# X = data.iloc[:, 0:10].values
# investor_names = data.columns[10:].tolist()
# y = data.iloc[:, 10:].values

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(len(investor_names), activation='softmax'))

# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Map the numeric output to investor names
# investor_probs = {name: prob for name, prob in zip(investor_names, predictions[0])}
# top_investors = sorted(investor_probs, key=investor_probs.get, reverse=True)[:15]

In [4]:
df = pd.read_excel ('data/Companies.xlsx')
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Average time of rounds(days),Year of recieving Series A
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.0,2012.0
1,Andela,Andela invests in Africaâ€™s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395.0,2015.0
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0,NaN

In [5]:
cols = df.columns

In [6]:
for cat_col in cols:
    print(f"{cat_col}: {df[cat_col].nunique()} uniqueness variable")

1_Company_name: 3084 uniqueness variable
2_Company_description: 2829 uniqueness variable
3_Status: 5 uniqueness variable
4_Year_founded: 37 uniqueness variable
5_Headquarters: 423 uniqueness variable
6_Other_offices: 54 uniqueness variable
7.1_Country HQ: 58 uniqueness variable
7.2_Assigned_Country (Africa): 33 uniqueness variable
8_Countries_of_operation_(Business Model/Market): 147 uniqueness variable
9_Country_Parent Incorporation: 15 uniqueness variable
10_Total_Venture_Funding (Disclosed): 9 uniqueness variable
10.1_Funding Rounds (Named): 3 uniqueness variable
10.2_Number of Venture Funding rounds (#): 4 uniqueness variable
11_Investors: 157 uniqueness variable
12_Company_Valuation: 0 uniqueness variable
13_Company_Valuation_Date: 0 uniqueness variable
14_Last_funding_round_raised_date: 107 uniqueness variable
15_Last_funding_round_raised_type: 43 uniqueness variable
16_Last funding round raised amount: 198 uniqueness variable
17_Largest_round: 30 uniqueness variable
18_Amount: 197 uniqueness variable
19_Founders: 1892 uniqueness variable
20_Female_Co-Founder (Yes = 1; No  = 0): 3 uniqueness variable
21_Main_sector: 92 uniqueness variable
22_Categories: 1354 uniqueness variable
23_Business_Model: 16 uniqueness variable
24_Accelerators_Attended: 70 uniqueness variable
25_Number_of_employees: 25 uniqueness variable
26_Website: 2664 uniqueness variable
27_Linkedin: 2011 uniqueness variable
28_Twitter: 2058 uniqueness variable
29_Facebook: 2171 uniqueness variable
Companies Information, Level of Completeness: 29 uniqueness variable
Duplication: 0 uniqueness variable
Companies with a Deal Check: 716 uniqueness variable
Main Sector / Industry Check: 2 uniqueness variable
DA Acquired or Exited or Dead: 77 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
Industry, DA Classified: 14 uniqueness variable
Last Funding Round, DA Classified: 10 uniqueness variable
Largest Funding Round, DA Classified: 9 uniqueness variable
Stage, DA Classified: 3 uniqueness variable
Total Number of Funding Rounds: 0 uniqueness variable
Total Number of Venture Funding Rounds: 0 uniqueness variable
Total Funding todate (disclosed): 0 uniqueness variable
Total Venture funding todate (disclosed): 0 uniqueness variable
Acquired: 0 uniqueness variable
1. Grant: 0 uniqueness variable
2. Seed: 0 uniqueness variable
3. Early Venture: 0 uniqueness variable
4. Late Venture: 0 uniqueness variable
5. Debt Financing: 0 uniqueness variable
6.Private Equity: 0 uniqueness variable
7. Offerings: 0 uniqueness variable
8. Exits: 0 uniqueness variable
2010: 0 uniqueness variable
2011: 0 uniqueness variable
2012: 0 uniqueness variable
2013: 0 uniqueness variable
2014: 0 uniqueness variable
2015: 0 uniqueness variable
2016: 0 uniqueness variable
2017: 0 uniqueness variable
2018: 0 uniqueness variable
2019: 0 uniqueness variable
Investors: 0 uniqueness variable
Unnamed: 66: 0 uniqueness variable
Unnamed: 67: 0 uniqueness variable
Unnamed: 68: 0 uniqueness variable
Unnamed: 69: 0 uniqueness variable
Unnamed: 70: 0 uniqueness variable
Unnamed: 71: 0 uniqueness variable
Unnamed: 72: 0 uniqueness variable
Unnamed: 73: 0 uniqueness variable
Unnamed: 74: 0 uniqueness variable
Unnamed: 75: 0 uniqueness variable
Unnamed: 76: 0 uniqueness variable
Unnamed: 77: 0 uniqueness variable
Unnamed: 78: 0 uniqueness variable
Unnamed: 79: 0 uniqueness variable
Unnamed: 80: 0 uniqueness variable
Duplication.1: 1407 uniqueness variable
Unnamed: 82: 0 uniqueness variable
Unnamed: 83: 0 uniqueness variable
Unnamed: 84: 0 uniqueness variable
Unnamed: 85: 0 uniqueness variable
Unnamed: 86: 0 uniqueness variable
Unnamed: 87: 0 uniqueness variable
Unnamed: 88: 0 uniqueness variable
Unnamed: 89: 0 uniqueness variable
Unnamed: 90: 0 uniqueness variable
Unnamed: 91: 0 uniqueness variable
Unnamed: 92: 0 uniqueness variable
Unnamed: 93: 0 uniqueness variable
Unnamed: 94: 0 uniqueness variable
Unnamed: 95: 0 uniqueness variable
Unnamed: 96: 0 uniqueness variable
Unnamed: 97: 0 uniqueness variable
Unnamed: 98: 0 uniqueness variable
Unnamed: 99: 0 uniqueness variable
Unnamed: 100: 0 uniqueness variable
Unnamed: 101: 0 uniqueness variable
Unnamed: 102: 0 uniqueness variable
Unnamed: 103: 0 uniqueness variable
Unnamed: 104: 0 uniqueness variable
Unnamed: 105: 0 uniqueness variable
Unnamed: 106: 0 uniqueness variable
Unnamed: 107: 0 uniqueness variable
Unnamed: 108: 0 uniqueness variable
Unnamed: 109: 0 uniqueness variable
Unnamed: 110: 0 uniqueness variable
Unnamed: 111: 0 uniqueness variable
Unnamed: 112: 0 uniqueness variable
Unnamed: 113: 0 uniqueness variable
Unnamed: 114: 0 uniqueness variable
Unnamed: 115: 0 uniqueness variable
Average time of rounds(days): 195 uniqueness variable
Year of recieving Series A : 9 uniqueness variable

In [7]:
#listing all columns
my_list = df.columns.values.tolist()

In [8]:
df = df.drop(['Total Number of Funding Rounds','Total Number of Venture Funding Rounds',
 'Total Funding todate (disclosed)','Total Venture funding todate (disclosed)','Acquired',
 '1. Grant','2. Seed', '3. Early Venture','4. Late Venture', '5. Debt Financing','6.Private Equity','7. Offerings',
 '8. Exits',2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,'Investors','Unnamed: 66','Unnamed: 67','Unnamed: 68',
 'Unnamed: 69','Unnamed: 70','Unnamed: 71','Unnamed: 72','Unnamed: 73','Unnamed: 74','Unnamed: 75','Unnamed: 76',
 'Unnamed: 77','Unnamed: 78','Unnamed: 79','Unnamed: 80','Duplication.1','Unnamed: 82','Unnamed: 83','Unnamed: 84',
 'Unnamed: 85','Unnamed: 86','Unnamed: 87','Unnamed: 88','Unnamed: 89','Unnamed: 90','Unnamed: 91','Unnamed: 92',
 'Unnamed: 93','Unnamed: 94','Unnamed: 95','Unnamed: 96','Unnamed: 97','Unnamed: 98','Unnamed: 99','Unnamed: 100',
 'Unnamed: 101','Unnamed: 102','Unnamed: 103','Unnamed: 104','Unnamed: 105','Unnamed: 106','Unnamed: 107','Unnamed: 108',
 'Unnamed: 109','Unnamed: 110','Unnamed: 111','Unnamed: 112','Unnamed: 113','Unnamed: 114','Unnamed: 115','Average time of rounds(days)',
 'Year of recieving Series A '], axis=1)

In [9]:
df.head()

,1_Company_name,2_Company_description,3_Status,4_Year_founded,5_Headquarters,6_Other_offices,7.1_Country HQ,7.2_Assigned_Country (Africa),8_Countries_of_operation_(Business Model/Market),9_Country_Parent Incorporation,...,"Companies Information, Level of Completeness",Duplication,Companies with a Deal Check,Main Sector / Industry Check,DA Acquired or Exited or Dead,DA Classification_African Company (Yes = 0; No = 1),"Industry, DA Classified","Last Funding Round, DA Classified","Largest Funding Round, DA Classified","Stage, DA Classified"
0,Jumia Group,Jumia is connecting consumers and businesses a...,Active,2012.0,"Lagos, Nigeria","Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",Nigeria,Nigeria,"Nigeria, Egypt, Morocco, Kenya, Ivory Coast, S...",NaN,...,0.709677,NaN,Jumia Group,1.0,Jumia Group,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
1,Andela,Andela invests in Africaâ€™s most talented softw...,Active,2014.0,"New York, united States","Nigeria, Kenya, Uganda, Rwanda",United States,Nigeria,"Nigeria, Kenya, Uganda, Rwanda",NaN,...,0.870968,NaN,Andela,1.0,NaN,NaN,Other Technologies & Information Technology,4. Late Venture,4. Late Venture,Growth
2,Takealot,takealot.com is one of SA's largest online ret...,Acquired,2011.0,"Cape Town, South Africa",NaN,South Africa,South Africa,South Africa,NaN,...,0.677419,NaN,Takealot,1.0,Takealot,0.0,E-commerce & Retail,4. Late Venture,4. Late Venture,Growth
3,Zola Electric,ZOLA Electric (formerly Off Grid Electric) is ...,Active,2011.0,"Arusha, Tanzania",NaN,Tanzania,Tanzania,Tanzania,NaN,...,0.838710,NaN,Zola Electric,1.0,NaN,0.0,Energy & Resources,5. Debt Financing,4. Late Venture,Growth
4,d.light,d.light is a global leader in delivering affor...,Active,2007.0,"Nairobi, Kenya",NaN,Kenya,Kenya,Kenya,NaN,...,0.709677,NaN,d.light,1.0,NaN,0.0,Energy & Resources,4. Late Venture,5. Debt Financing,Growth

In [10]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,...,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cols = df_deals.columns

In [12]:
for cat_col in cols:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

1_post_date: 695 uniqueness variable
2_post_title: 800 uniqueness variable
3_amount: 281 uniqueness variable
4_Stake: 7 uniqueness variable
5_funding_round: 27 uniqueness variable
6_investors: 717 uniqueness variable
7_source: 1070 uniqueness variable
Country/Town: 34 uniqueness variable
Country(HQ): 34 uniqueness variable
Category: 660 uniqueness variable
main_sector: 48 uniqueness variable
Check vs Companies: 727 uniqueness variable
Deals Information, Level of Completeness: 6 uniqueness variable
duplicated_conc: 1120 uniqueness variable
Duplication: 1 uniqueness variable
Disclosed : 2 uniqueness variable
Founded: 23 uniqueness variable
Total  Disclosed Funding: 280 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
funding round, DA: 8 uniqueness variable
Industry, DA: 13 uniqueness variable
Year: 14 uniqueness variable
Month: 12 uniqueness variable
Quarter: 4 uniqueness variable
Half: 2 uniqueness variable
Number of Investors: 12 uniqueness variable
Investor 1: 30 uniqueness variable
Investor 2: 221 uniqueness variable
Investor 3: 153 uniqueness variable
Investor 4: 103 uniqueness variable
Investor 5: 69 uniqueness variable
Investor 6: 43 uniqueness variable
Investor 7: 21 uniqueness variable
Investor 8: 17 uniqueness variable
Investor 9: 8 uniqueness variable
Investor 10: 7 uniqueness variable
Investor 11: 4 uniqueness variable
Investor 12: 4 uniqueness variable
Investor 13: 2 uniqueness variable
Investor 14: 2 uniqueness variable
Investor 15: 1 uniqueness variable
Cummulative Deals (Disclosed): 0 uniqueness variable
Cummulative Deals (Undisclosed): 0 uniqueness variable
Cummulative Amount: 0 uniqueness variable
Investor 1.1: 30 uniqueness variable
Investor 2.1: 220 uniqueness variable
Investor 3.1: 152 uniqueness variable
Investor 4.1: 102 uniqueness variable
Investor 5.1: 68 uniqueness variable
Investor 6.1: 42 uniqueness variable
Investor 7.1: 20 uniqueness variable
Investor 8.1: 16 uniqueness variable
Investor 9.1: 7 uniqueness variable
Investor 10.1: 6 uniqueness variable
Investor 11.1: 3 uniqueness variable
Investor 12.1: 3 uniqueness variable
Investor 13.1: 1 uniqueness variable
Investor 14.1: 1 uniqueness variable
Investor 15.1: 0 uniqueness variable

In [13]:
df_deals.shape

(2059, 59)

In [14]:
# df_deals['Investor 2'].unique()

In [15]:
df_deals.columns

Index(['1_post_date', '2_post_title', '3_amount', '4_Stake', '5_funding_round',
       '6_investors', '7_source', 'Country/Town', 'Country(HQ)', 'Category',
       'main_sector', 'Check vs Companies',
       'Deals Information, Level of Completeness', 'duplicated_conc',
       'Duplication', 'Disclosed ', 'Founded', 'Total  Disclosed Funding',
       'DA Classification_African Company (Yes = 0; No = 1)',
       'funding round, DA', 'Industry, DA', 'Year', 'Month', 'Quarter', 'Half',
       'Number of Investors', 'Investor 1', 'Investor 2', 'Investor 3',
       'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12',
       'Investor 13', 'Investor 14', 'Investor 15',
       'Cummulative Deals (Disclosed)', 'Cummulative Deals (Undisclosed)',
       'Cummulative Amount', 'Investor 1.1', 'Investor 2.1', 'Investor 3.1',
       'Investor 4.1', 'Investor 5.1', 'Investor 6.1', 'Investor 7.1',
       'Investor 8.1', 'Investor 9.1', 'Investor 10.1', 'Investor 11.1',
       'Investor 12.1', 'Investor 13.1', 'Investor 14.1', 'Investor 15.1'],
      dtype='object')

In [16]:
df_deals = df_deals.drop(['Investor 1','Cummulative Deals (Disclosed)','Cummulative Deals (Undisclosed)','Cummulative Amount','7_source','4_Stake','Investor 2', 'Investor 3',
       'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12','Investor 13','Investor 14','Investor 13.1','Investor 14.1','Investor 15.1','Investor 15','Duplication','Investor 1.1',
       'Investor 2.1', 'Investor 3.1', 'Investor 4.1', 'Investor 5.1',
       'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1',
       'Investor 10.1', 'Investor 11.1', 'Investor 12.1'], axis=1)

In [17]:
df_deals.head()

,1_post_date,2_post_title,3_amount,5_funding_round,6_investors,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,...,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors
0,2008-09-01,biNu,600000,Seed,Artesian VC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008.0,9.0,3.0,2.0,1.0
1,2008-11-01,biNu,400000,Angel,Undisclosed,Australia,Australia,Mobile Internet,Information Technology,biNu,...,2008.0,14220000.0,1.0,2. Seed,Other Technologies & Information Technology,2008.0,11.0,4.0,2.0,1.0
2,2009-12-03,AllLife,6000000,Private Equity,LeapFrog Investments,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,...,2004.0,12700000.0,0.0,6. Private Equity,Financial Services,2009.0,12.0,4.0,2.0,1.0
3,2009-12-11,Bridge International Academies,1800000,Grant,Omidyar Network,NaN,NaN,NaN,NaN,NaN,...,NaN,27800000.0,NaN,1. Grant,NaN,2009.0,12.0,4.0,2.0,1.0
4,2010-04-01,biNu,320000,Angel,Undisclosed,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2010.0,4.0,2.0,1.0,1.0

In [18]:
df_deals["DA Classification_African Company (Yes = 0; No = 1)"].value_counts()

0.0    1060
1.0      20
Name: DA Classification_African Company (Yes = 0; No = 1), dtype: int64

In [19]:
df_deals = df_deals.dropna()

In [20]:
# df_deals.head()

In [21]:
df_deals.shape

(967, 23)

In [22]:
def get_year(dt):
    return dt.year

df_deals['year'] = df_deals['1_post_date'].map(get_year)
#df_deals

In [23]:
# df_deals

In [24]:
df_deals = df_deals.drop(['Year','year','Country/Town'], axis=1)

In [25]:
# df_deals

In [26]:
#Dropping columns that the startup wont have prior
df_deals = df_deals.drop(['1_post_date','2_post_title','Check vs Companies','Industry, DA'], axis=1)

In [27]:
# df_deals

In [28]:
df_deals = df_deals.drop(['duplicated_conc'], axis=1)

In [29]:
df_deals['5_funding_round'].unique()

array(['Seed', 'Grant', 'Series A', 'Angel', 'Debt Financing', 'Series B',
       'Series D', 'Series C', 'Private Equity', 'Pre-Series B',
       'Convertible Note', 'Pre-Seed', 'Venture Round', 'Series E',
       'Undisclosed', 'Crowdfunding', 'Corporate Venture',
       'Corporate Round', 'Series A II', 'CrowdFunding'], dtype=object)

In [30]:
# !pip install category_encoders

In [31]:
from category_encoders import OrdinalEncoder

In [32]:
# df_deals['main_sector'].unique()

In [33]:
df_deals['main_sector'] = df_deals['main_sector'].apply(lambda x: x.lower())
df_deals['main_sector'].unique()

array(['financial services', 'recruitment', 'education',
       'media & entertainment', 'e-commerce & retail',
       'information technology', 'real estate',
       'commercial & professional services', 'software',
       'transport & logistics', 'automotive', 'healthcare & pharma',
       'utilities and telecommunication services', 'agriculture',
       'travel & leisure', 'social network', 'security',
       'renewables & environment', 'emerging technologies',
       'recruitment, human resource', 'saas', 'marketing',
       'resource & energy', 'renewable energy',
       'real estate and construction', 'robotics',
       'other technologies & information technology',
       'telecommunications', 'solar power', 'media/ entertainment',
       'solar energy, energy and resources', 'media and entertainment',
       'travel and leisure'], dtype=object)

In [34]:
def main_sector(sector):
    if 'recruitment' in sector.lower():
        return 'recruitment, human resource'
    elif 'media/ entertainment' in sector.lower():
        return 'media and entertainment'
    elif 'media & entertainment' in sector.lower():
        return 'media and entertainment'
    elif 'solar power' in sector.lower():
        return 'solar energy, energy and resources'
    elif 'real estate' in sector.lower():
        return 'real estate and construction'
    elif 'resource & energy' in sector.lower():
        return 'solar energy, energy and resources'
    elif 'telecommunications' in sector.lower():
        return 'utilities and telecommunication services'
    elif 'renewable energy' in sector.lower():
        return 'renewables & environment'
    elif 'information technology' in sector.lower():
        return 'other technologies & information technology'
    else:
        return sector

In [35]:
#applying our function to eliminate duplicates
df_deals['main_sector'] = df_deals['main_sector'].apply(main_sector)

In [36]:
df_deals['main_sector'].unique()

array(['financial services', 'recruitment, human resource', 'education',
       'media and entertainment', 'e-commerce & retail',
       'other technologies & information technology',
       'real estate and construction',
       'commercial & professional services', 'software',
       'transport & logistics', 'automotive', 'healthcare & pharma',
       'utilities and telecommunication services', 'agriculture',
       'travel & leisure', 'social network', 'security',
       'renewables & environment', 'emerging technologies', 'saas',
       'marketing', 'solar energy, energy and resources', 'robotics',
       'travel and leisure'], dtype=object)

In [37]:
# mapping_ms = [{'col': 'main_sector', 'mapping': {'financial services': 1, 'recruitment, human resource': 2, 'education': 3,
#        'media and entertainment': 4, 'e-commerce & retail': 5,
#        'other technologies & information technology': 6,
#        'real estate and construction': 7,
#        'commercial & professional services': 8, 'software': 9,
#        'transport & logistics': 10, 'automotive': 11, 'healthcare & pharma': 12,
#        'utilities and telecommunication services': 13, 'agriculture': 14,
#        'travel & leisure': 15, 'social network': 16, 'security': 17,
#        'renewables & environment': 18, 'emerging technologies': 19, 'saas': 20,
#        'marketing': 21, 'solar energy, energy and resources': 22, 'robotics': 23,
#        'travel and leisure': 24}}]
# OrdinalEncoder(cols=['main_sector'], mapping=mapping_ms).fit(df_deals).transform(df_deals)

mapping_ms = {'financial services': 1, 'recruitment, human resource': 2, 'education': 3,
       'media and entertainment': 4, 'e-commerce & retail': 5,
       'other technologies & information technology': 6,
       'real estate and construction': 7,
       'commercial & professional services': 8, 'software': 9,
       'transport & logistics': 10, 'automotive': 11, 'healthcare & pharma': 12,
       'utilities and telecommunication services': 13, 'agriculture': 14,
       'travel & leisure': 15, 'social network': 16, 'security': 17,
       'renewables & environment': 18, 'emerging technologies': 19, 'saas': 20,
       'marketing': 21, 'solar energy, energy and resources': 22, 'robotics': 23,
       'travel and leisure': 24}

df_deals['main_sector_encoded'] = df_deals['main_sector'].apply(lambda x: mapping_ms[x])

In [38]:
# df_deals.head()

In [39]:
# mapping_sr = [{'col': '5_funding_round', 'mapping': {'Seed': 1, 'Grant': 2, 'Series A': 3, 'Angel': 4, 'Debt Financing': 5, 'Series B': 6,
#        'Series D': 7, 'Series C': 8, 'Private Equity': 9, 'Pre-Series B': 10,
#        'Convertible Note': 11, 'Pre-Seed': 12, 'Venture Round': 13, 'Series E': 14,
#        'Undisclosed': 15, 'Crowdfunding': 16, 'Corporate Venture': 17,
#        'Corporate Round': 18, 'Series A II': 19, 'CrowdFunding': 20}}]
# OrdinalEncoder(cols=['5_funding_round'], mapping=mapping_sr).fit(df_deals).transform(df_deals)

In [40]:
mapping_sr = {'Seed': 1, 'Grant': 2, 'Series A': 3, 'Angel': 4, 'Debt Financing': 5, 'Series B': 6,
       'Series D': 7, 'Series C': 8, 'Private Equity': 9, 'Pre-Series B': 10,
       'Convertible Note': 11, 'Pre-Seed': 12, 'Venture Round': 13, 'Series E': 14,
       'Undisclosed': 15, 'Crowdfunding': 16, 'Corporate Venture': 17,
       'Corporate Round': 18, 'Series A II': 19, 'CrowdFunding': 20}

df_deals['funding_round_encoded'] = df_deals['5_funding_round'].apply(lambda x: mapping_sr[x])

In [41]:
df_deals.head()

,3_amount,5_funding_round,6_investors,Country(HQ),Category,main_sector,"Deals Information, Level of Completeness",Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA",Month,Quarter,Half,Number of Investors,main_sector_encoded,funding_round_encoded
5,75000,Seed,First Light Ventures,Kenya,"Enterprise Software, Financial Services, Infor...",financial services,0.9,1.0,2011.0,6504900.0,0.0,2. Seed,8.0,3.0,2.0,1.0,1,1
6,700000,Seed,Tim Draper,Nigeria,"Money Transfer, Airtime, Bill Payments, and SM...",financial services,0.9,1.0,2009.0,32700000.0,0.0,2. Seed,9.0,3.0,2.0,1.0,1,1
7,150000,Grant,Undisclosed,Egypt,"Information Services, Information Technology, ...","recruitment, human resource",0.9,1.0,2009.0,7850000.0,0.0,1. Grant,12.0,4.0,2.0,1.0,2,2
8,1500000,Grant,Omidyar Network,South Africa,"E-Learning, Education, Tutoring",education,0.9,1.0,2008.0,55800000.0,0.0,1. Grant,5.0,2.0,1.0,1.0,3,2
10,1500000,Series A,TBL Mirror Fund,Kenya,"Mobile Payments, Digital Payments, eCommerce, ...",financial services,0.9,1.0,2004.0,54500000.0,0.0,3. Early Venture,10.0,4.0,2.0,1.0,1,3

In [42]:
df_deals['Category'].unique()

array(['Enterprise Software, Financial Services, Information Technology, Mobile Payments, Payments, Social Entrepreneurship, Telecommunications',
       'Money Transfer, Airtime, Bill Payments, and SME Business',
       'Information Services, Information Technology, Software, Web Development',
       'E-Learning, Education, Tutoring',
       'Mobile Payments, Digital Payments, eCommerce, FinTech, mobile commerce, Fintech Africa, BlockChain, and MobileMoney',
       'Online Media, Nollywood Movies, Online Movie and Music Streaming, African Music, Content Distribution, Technology, Subscription Video on Demand',
       'E-Commerce, Internet, Shopping Online',
       'Retail, E-Commerce, Customer Service, Delivery Service, Online Shopping',
       'Ediscovery, Hospitality, Mobile, Restaurants, Food and Beverages',
       'Mobile Money Transfer, Fintech',
       'Developer APIs, Information Technology, Mobile, Telecommunications',
       'E-Commerce, Fashion, Wearables',
       'E-Commerce, Information Technology, Price Comparison',
       'Mobile, Payments, Telecommunications', 'Services, Gigs',
       'Consumer Goods, Delivery, E-Commerce',
       'E-Commerce, Internet, Real Estate',
       'Educational Content, Mobile Learning, E-Learning, Edtech',
       'Advertising, Employment, Internet, Marketplace, Travel',
       'Online trading, E-Shipping ',
       'Events Management, Service Industry, Funeral Management',
       'Event Management, Event Apps, Conferences',
       'Fintech, Payment solutions', 'iOS, Mobile, Software',
       'Car Sharing, Financial Services, Web Development, Asset Financing, Boda Boda',
       'Human Resources, Internet, Recruiting',
       'Freight Service, Logistics, Packaging Services',
       'Technology, Mobile Money, Big Data, Digital Financial Services, Mobile Financial Services, Financial Technology',
       'Automotive, Electric Vehicle, Emerging Markets, Transportation',
       'Consumer Lending, FinTech',
       'Biopharma, Biotechnology, Life Science',
       'Microfinance, Distributed Systems, Machine Learning, Functional Programming, Parallel Programming, Microservices, and Metaprogramming.',
       'Fast-Moving Consumer Goods, Financial Services',
       'E-Commerce, Logistics, Retail',
       'Blockchain, Cryptocurrencies, Exchange, Fintech',
       'Gaming, Mobile, Video Games',
       'FinTech, Mobile Payments, Payments, Point of Sale, SaaS, Small and Medium Businesses',
       'Networking and Hardware Design and Manufacuture',
       'Healthcare, Internet, Marketplace, Medical, Paas, Saas',
       'Catering, Delivery, Food and Beverage, Food Delivery, Marketplace, Subscription Service',
       'Collaborative Consumption, Logistics, Shipping',
       'Banking, Financial Services, Real Estate',
       'Apps, Public Safety, Taxi Service, Transportation, Ride-hailing',
       'Health Care, Social Entrepreneurship, Water',
       'Internet, Local Business, Retail',
       'Analytics, Big Data, Crowdsourcing, E-Commerce, Location Based Services, Mobile, Social Media',
       'Company Information, Data Analysis, Business Development, Investment Research, Company Profiling, News & Analysis, Due Diligence, Africa, Market Research, private equity, and African Data',
       'Car Sharing, Public Transportation, Ride Sharing',
       'Home Improvement, Home Services, Internet', 'Rewards, Retail',
       'Logistics, Deliveries, Courier, Packages, Food Delivery, E-Commerce, Mobile Apps, and On demand courier solutions',
       'Banking, FinTech, Incubators',
       'Film, Media and Entertainment, Subscription Service',
       'Hyperlocal logistics, On-demand Delivery, Transportation, Delivery Services, E-Commerce Logsitics, Okada, and Moto-Taxi, Ride-Hailing',
       'Public Transport Data, Professional Services',
       'Human Resources Technology, Human Resources Management Software, and Human Resources Consultation',
       'Data, Insights, Mobile surveys, Mobile rewards, Voice of the Customer, NPS, Feedback Loop, Surveys, Health and Academic Research, Customer Feedback, Customer Loyalty, Net Promoter Score, NPS, Customer Acquisition, Customer Retention',
       'Health Care, mHealth, Wellness', 'E-Commerce, Tourism, Travel',
       'Agtech, Data Analytics',
       'Cloud Data Services, E-Commerce Platforms, Event Management, Events, SaaS, Subscription Service',
       'Apps, Logistics, Supply Chain Management',
       'Railroad, Transportation, Travel',
       'Artificial Intelligence, Big Data, Consumer, Delivery, Grocery, Predictive Analytics, Retail, Software, Supply Chain Management',
       'Digital Marketing, Marketing, Social Media Management',
       'Health Care, Information Technology, Management Information Systems, Digital Healthcare',
       'Flights, Hotels, Car Hire, Package Holidays, Travel Tech, e-commerce, Technology, and Travel',
       'FinTech, Information Technology, Insurance, InsurTech, Travel',
       'mCommerce, Distribution, and Agriculture',
       'Analytics, Recruitment, Artificial Intelligence',
       'Crowdsourcing, Mobile, SMS',
       'Advertising, Media, and Digital Platforms, Marketing',
       'Music, Streaming, Video', 'Apps, Consumer, Transportation',
       'Digital Watermarking, Content Protection, Blockchain',
       'Cloud Computing, Identity Management, Information Services, Internet',
       'Advertising, Information Technology, Product Research',
       'Accounting, Financial Services, Mobile Apps, FInance Management',
       'Load Balancing, Development, Linux, ADC, Application Delivery Controller, Load Balancer, WAF, Web Accelerator, Devops, Application Delivery, and SAAS',
       'Distribution, Data, Emerging Markets, Logistics, and E-Commerce',
       'E-Learning, Education, Mobile, Higher Education',
       'FinTech, Government, Retail, Retail Technology, Small and Medium Businesses',
       'Health Care, Medical, mHealth',
       'Business Intelligence, Cloud Computing, Document Management',
       'FinTech, E-Payments', 'E-Commerce, Education, Internet',
       'Internet, Marketplace, Mobile Payments, Trading Platform',
       'E-Commerce, Food and Beverage, Food Delivery, Marketplace',
       'Car Sharing, Peer to Peer, Ride Sharing',
       'Events, Marketplace, Online Portals',
       'Apps, Emergency Medicine, Health Care, Transportation',
       'Banking, Financial Services, Internet, Mobile Payments',
       'Solar Energy Project Financing, Solar Power, Blockchain, Internet of Things, Ethereum Smart Contracts, Bitcoin',
       'Agriculture, Farmers Market, Financial Services, Machine Learning',
       'ISP, Telecommunications, Wireless', 'Health Insurance',
       'Agriculture, AgTech, Information Technology, Internet of Things',
       'Customer Service, Financial Services, FinTech',
       'Edtech, E-learning', 'Finance, FinTech', 'Apps, Internet, Travel',
       'Agriculture, AgTech, Crowdsourcing, Internet',
       'Podcasts, Audio, Transcoding, Live-streaming',
       'Blockchain, Micro-Loans',
       'Enterprise Software, Market Research, Emerging Markets, Africa, SMS Solutions, Mobile Airtime, NGO, Development Aid',
       'Public Transportation, Taxi Service, Transportation',
       'Fashion, Jewelry, Marketplace, Retail, Wearables, Wedding',
       'Crowdfunding, FinTech',
       'Agriculture, Artificial Intelligence, Biotechnology, Food and Beverage, Health Care',
       'Electronics, Solar',
       'Delivery Service, E-Commerce, Food Delivery, Mobile Apps, Taxi Service',
       'Online Printing, Business cards, Letterheads, Envelopes, Gift Items, Paper Bags, Stickers, Rollup Banner, Magic Mugs, Logo Mugs and Photo Mugs, Handbills, Greeting Cards, Invitations, PostCards, Graphic Designs, and Wedding Products Invitations, Gift Items and more',
       'Art, E-Commerce, Fashion, Handmade',
       'Technology, Logistics, Courier, and Transportation',
       'Logistics, Property Management, Real Estate',
       'B2B, E-Commerce, E-Commerce Platforms',
       'Artificial Intelligence, Banking, Finance, Financial Services, FinTech',
       'Apps, Mobile Apps, Wellness',
       'Fintech, Small Medium Businesses, Working Capital, Frontier & Emerging Markets, and Credit Score',
       'FinTech, Marketing, Lending, Micro-Loans',
       'EdTech, Enterprise Resource Planning (ERP), SaaS',
       'Information Services, Information Technology, Technical Support',
       'Data Analytics, Aerial Engineering Design and Manufacture, Machine Learning, and Image Processing, Agtech, Drones, Farming, Software',
       'Automotive, E-Commerce, E-Commerce Platforms',
       'Apps, Delivery Service, Shopping',
       'Agriculture, AgTech, Information Technology',
       'Internet, WIFI, VOIP, and IPTV', 'Tourism, Travel',
       'Presentation Software, Presentations, Productivity Tools, Social Media, Software',
       'Financial Services, FinTech, Information Technology',
       'Parenting, Child Care, Fitness, Health Care, Wellness',
       'FinTech, Information Services, Information Technology, Telecommunications',
       'FinTech, Productivity Tools',
       'Internet, Mobile Apps, Transportation, Travel, Ride hailing',
       'Information Technology, Software', 'Video Games, Graphic Designs',
       'Health Care, Software, Audiology, audiometry, mHealth, eHealth',
       'Farming, Agriculture, Digital Farming, Technology Farming, Agtech',
       'B2B, E-Commerce, Marketplace',
       'Information Services, Sales, Social Media Marketing',
       'Apps, Marketing, Shopping',
       'Blockchain, Cryptocurrency, FinTech, InsurTech, Mobile Payments',
       'Artificial Intelligence, Blockchain, Database, Hardware, Software',
       'Insurance, InsurTech, Peer to Peer',
       'Recruiting, Talent, Hiring, Human Resources, Applicant Screening',
       'Finance, Financial Services, Sustainability',
       'Consumer, E-Commerce, Internet, Retail, Marketplace',
       'Internet, Local, Online Portals, Travel',
       'Digital Marketing, Media and Entertainment, Social Media',
       'Logistics, Railroad, Transportation',
       'Education, Legal, Training, Drones, Edtech',
       'Mobile Apps, Software, Transportation',
       'Financial Services, Information Technology, Insurance',
       'Big Data, Finance, Financial Services, Micro-Loans, Lending',
       'Marketplace', 'Instant EFT Payments',
       'Automotive, E-Commerce, Information Technology, Marketplace, Retail Technology',
       'Automotive, Security, Software', 0,
       'Information Technology, Shipping',
       'Artificial Intelligence, Machine Learning, Messaging, Mobile, Travel, Virtual Assistant',
       'Communities, Consumer, Marketplace, Mobile Apps, Parking, Peer to Peer, Self-Storage',
       'Health Diagnostics', 'CRM, Real Estate',
       'Artificial Intelligence, Big Data, Machine Learning, Natural Language Processing',
       'Apps, Construction, IT Management, Mobile Apps',
       'Logistics, Ride Sharing, Sharing Economy, Transportation',
       'Professional Services, Labour',
       'Payments, Online Payments, Mobile Wallets, Ecommerce, Credit Card Payments, and Cash on Delivery',
       'Consulting, Digital Media, Information Technology',
       'Blockchain, Hardware, Internet of Things, Software',
       'Food & Beverages',
       'e-commerce, Product and Service Advice for Moms, Events and Competitions for families, Data/Analytic Reports, retail, Product Testing, and Product Trials',
       'FinTech',
       'B2B, Information Services, Information Technology, Internet, Marketplace',
       'Delivery, E-Commerce, Internet, Logistics',
       'Advertising Platforms, Media and Entertainment, News, Psychology',
       'Aerospace, Fleet Management, Manufacturing', 'Education',
       'Outsourcing, Software', 'Photography',
       'E-Commerce, Internet, Transportation',
       'Fishing, Mobile Applications',
       'Delivery, E-Commerce, Internet, Mobile',
       'Media and Entertainment, News',
       'Blockchain, Compliance, Identity Management, Information Technology',
       'Stock Exchanges', 'Bitcoin, Cryptocurrency, Payments',
       'Business Information Systems, Information Technology, Loyalty Programs, Mobile, Mobile Apps, Software',
       'Apps, Information Technology, Internet, Transportation, Ride Hailing',
       'Financial Services', 'Artificial Intelligence, Big Data',
       'Computer Software', 'Health Care, Hospital',
       'Micro-finance Software, SACCO Software, Credit Union Software, Mobile Banking',
       'Financial Services, Internet',
       'Delivery, Delivery Service, Logistics',
       'Analytics, Consumer Software, Health Care, Home Health Care, Information Technology, Medical, Personal Health, SaaS',
       'E-Learning, EdTech, Education',
       'Computer, Cyber Security, Information Technology, Operating Systems, Software',
       'Internet', 'Human Resources',
       'Hostel Booking, Roommate Finder, Student Housing',
       'Construction, Professional Services, Recruiting',
       'Printing, Manufacturing',
       'Delivery Service, E-Commerce, Food Delivery, Procurement',
       'Machine Learning, Data Science, Predictive Analytics, Artificial Intelligence',
       'Information Services, Information Technology, Software',
       'Logistics, Transportation',
       'Private Transport, Logistics, Ride-Hailing, Transportation, Moto-Taxi, Okada, logistics',
       'Billing, Content, CRM, Digital Media, Local, Mobile, Mobile Advertising, Music, Social Media, Social Media Marketing',
       'Health Care, Health Diagnostics, Medical Device, Telecommunications',
       'Health Care, Internet, mHealth', 'Apps, Banking, FinTech',
       'Apps, Medical, Software', 'Farmers Market, Logistics, Software',
       'Finance, Financial Services, FinTech',
       'Financial Inclusion, Digital Financial Services, Mobile Money, and Fintech',
       'Online Shopping, Security, Banking',
       'Mobile Technology, Logistics, International Trade, Agriculture Market Access',
       'Public Transportation, Software, Ticketing, Transportation, Travel',
       'Artificial Intelligence, Blockchain, IaaS, Information Services, Information Technology, Machine Learning, Sharing Economy',
       'EdTech, Education', 'Mobile Marketplace',
       'Secondary Distribution, Trade Insights, Salesforce Automation, B2B, Consumer Goods',
       'Automotive, Manufacturing, Product Design',
       'Developer Tools, Information Technology, Logistics, Mobile',
       'Dating, Mobile Apps, Social Network',
       'Banking, Debit Cards, Finance, Financial Services, Fintech',
       'Agriculture, Food Delivery, Logistics, Supply Chain Management',
       'Mobile application',
       'Education, Fleet Management, Information Technology, Logistics, SaaS, Transportation',
       'Education, Software',
       'Communities, Computer, Information Technology, Mobile Apps, Property Management, Real Estate, Software',
       'Health Care, Pharmaceutical, SaaS',
       'Business Development, Micro Lending, Small and Medium Businesses',
       'Energy, Environmental Consulting, Renewable Energy',
       'Internet, Internet of Things, Risk Management',
       'Agriculture, AgTech, Animal Feed, Farming',
       'Drones, Cloud Computing',
       'Business Intelligence, Commercial, E-Commerce, Machine Learning, Photo Sharing',
       'Blockchain, Information Technology, Software Engineering, Training',
       'Android, B2B, B2C, Business Development, Digital Marketing, E-Commerce, E-Commerce Platforms, Enterprise Applications, Enterprise Software, Food Delivery, iOS, Marketplace, Mobile Apps, Product Design, Retail Technology, Social Media, Social Media Marketing, Software, Web Development',
       'Agriculture', 'Advertising Platforms, Photography, Scheduling',
       'Automotive, retail', 'Savings, Financial technology',
       'Recruitment, Talent, Labour',
       'Artificial Intelligence, E-Commerce, Health Care, Information Technology, Mobile Apps, Pharmaceutical',
       'Employee Benefits, Health Care, Health Insurance, Insurance, Medical, Mobile Apps',
       'E-Commerce, Financial Exchanges, Jewelry, Retail',
       'Supermarket, Delivery', 'Transportation, Trucking, Railroad',
       'Schools, B2B, Transportation', 'Food & Beverages, E-commerce',
       'Digital Marketing, Digital Media, Internet',
       'Bikes, Ride hailing, Apps, Logistics', 'Insurance, FinTech',
       'Internet, Service Industry, Transportation',
       'Agriculture, Biotechnology', 'Security',
       'e-commerce, online shopping, and Fashion', 'Drones',
       'B2B, E-Commerce, Internet', 'logistics, e-commerce',
       'Big Data, Event Management, Events, Machine Learning, Productivity Tools, Wedding',
       'Credit, Financial Services, FinTech, Micro Lending, Supply Chain Management',
       'CRM, Customer Support, Customer Experience, SaaS',
       'Architecture, Brand Marketing, Digital Marketing, Digital Media, Education, Graphic Design, Personal Branding, Recruiting, Social Media Marketing, Video Advertising',
       'FinTech, Human Resources, Payments, SaaS, Software',
       'Medical Equipment, Medical Equipment Maintenance & Repair, Training, Medical Equipment Financing, Economic Development, Shipping and Logistics, Biomedical Training, Medical Diagnostics, and Primary Care',
       'Taxi Hailing Platform, Taxi, Taxi App, Taxi Aggregator, App, transport logistic, Wallet, SOS, Rider, Driver, Africa, kenya, and Mobile App',
       'Consumer Electronics, Information Technology, Security',
       'Procurement, Value Engineering, Tax planning and Advisory',
       'Personal Finance, Wealth Management, Savings',
       'Health Care, Health Diagnostics, Medical Device, Mobile Apps',
       'Data Center Automation, Digital Media, Digital Signage, Industrial Automation',
       'Cyber Security, Developer Tools, Information Technology, Internet, SaaS',
       'Accounting, Banking, Financial Services, Cloud Computing',
       'Healthcare, MicroSavings, Financial Services',
       'Artificial Intelligence, Blockchain, Hardware, Internet of Things, Mobile Apps, SaaS, Transportation',
       'Artificial Intelligence, Health Care, Health Diagnostics, Machine Learning, Medical, Medical Device',
       'Bitcoin, Cryptocurrency, Mobile Apps', 'E-Booking',
       'SMEs export/import solution, E-commerce Supply Chain, Mail/Parcel, Office/Home Moving, Haulage, Air Freight, Project Cargo, Sea Freight, Agribusiness',
       'Apps, Internet, Retail', 'Clean Technology',
       'Brand Marketing, Consulting, Digital Marketing, Information Technology, Software, Software Engineering',
       'Energy, Financial Services, Renewable Energy, Retail, Solar',
       'Marketplace, Aggregator, Insurtech',
       'Delivery Services, Location Based Services, Logistics',
       'Bitcoin, Blockchain, Cryptocurrency, Financial Services, Lending, Mobile Apps, Peer to Peer',
       'Big Data, Internet, Social',
       'Agribusiness, Entrepreneurship, Incubation, Startups, Youth Empowerment, Coworking Space',
       'Fitness, Health Care, Pharmaceutical, Wellness',
       'Software Engineering, Software Development, and IT Professionals',
       'Children, Education, Gaming', 'Edtech',
       'E-Learning, Information Technology',
       'Property Management, Real Estate Advisory, Property Technology, Rent Insurance',
       'Fintech, Consumer financing, Credit scoring', 'Software, API ',
       'Artificial Intelligence, Big Data, Data Visualization, Financial Services, FinTech, Machine Learning, Mobile, Mobile Payments',
       'Finance, Financial Services, Peer to Peer',
       'Customer Experience, Big Data, Customer Rewards',
       'Insurance, Internet of Things', 'Mobile, Mobile Apps',
       'Financial Services, FinTech',
       'Big Data, Information Technology, Mobile Apps, Mobile Payments, Predictive Analytics, Public Transportation, Ride Sharing, Ticketing, Transportation',

In [43]:
df_deals.head()

,3_amount,5_funding_round,6_investors,Country(HQ),Category,main_sector,"Deals Information, Level of Completeness",Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA",Month,Quarter,Half,Number of Investors,main_sector_encoded,funding_round_encoded
5,75000,Seed,First Light Ventures,Kenya,"Enterprise Software, Financial Services, Infor...",financial services,0.9,1.0,2011.0,6504900.0,0.0,2. Seed,8.0,3.0,2.0,1.0,1,1
6,700000,Seed,Tim Draper,Nigeria,"Money Transfer, Airtime, Bill Payments, and SM...",financial services,0.9,1.0,2009.0,32700000.0,0.0,2. Seed,9.0,3.0,2.0,1.0,1,1
7,150000,Grant,Undisclosed,Egypt,"Information Services, Information Technology, ...","recruitment, human resource",0.9,1.0,2009.0,7850000.0,0.0,1. Grant,12.0,4.0,2.0,1.0,2,2
8,1500000,Grant,Omidyar Network,South Africa,"E-Learning, Education, Tutoring",education,0.9,1.0,2008.0,55800000.0,0.0,1. Grant,5.0,2.0,1.0,1.0,3,2
10,1500000,Series A,TBL Mirror Fund,Kenya,"Mobile Payments, Digital Payments, eCommerce, ...",financial services,0.9,1.0,2004.0,54500000.0,0.0,3. Early Venture,10.0,4.0,2.0,1.0,1,3

In [45]:
# Load and preprocess the data
data = df_deals
X = data.iloc[:, 0:2].values
investor_names = data.columns[10:].tolist()
y = data.iloc[:, 2:].values

In [52]:
data

,3_amount,5_funding_round,6_investors,Country(HQ),Category,main_sector,"Deals Information, Level of Completeness",Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA",Month,Quarter,Half,Number of Investors,main_sector_encoded,funding_round_encoded
5,75000,Seed,First Light Ventures,Kenya,"Enterprise Software, Financial Services, Infor...",financial services,0.9,1.0,2011.0,6504900.0,0.0,2. Seed,8.0,3.0,2.0,1.0,1,1
6,700000,Seed,Tim Draper,Nigeria,"Money Transfer, Airtime, Bill Payments, and SM...",financial services,0.9,1.0,2009.0,32700000.0,0.0,2. Seed,9.0,3.0,2.0,1.0,1,1
7,150000,Grant,Undisclosed,Egypt,"Information Services, Information Technology, ...","recruitment, human resource",0.9,1.0,2009.0,7850000.0,0.0,1. Grant,12.0,4.0,2.0,1.0,2,2
8,1500000,Grant,Omidyar Network,South Africa,"E-Learning, Education, Tutoring",education,0.9,1.0,2008.0,55800000.0,0.0,1. Grant,5.0,2.0,1.0,1.0,3,2
10,1500000,Series A,TBL Mirror Fund,Kenya,"Mobile Payments, Digital Payments, eCommerce, ...",financial services,0.9,1.0,2004.0,54500000.0,0.0,3. Early Venture,10.0,4.0,2.0,1.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,Undisclosed,Private Equity,"AHL Venture Partners, DOB Equity",Kenya,"Soil testing, Agronomy Services, Crop Trials, ...",agriculture,0.9,0.0,1998.0,0.0,0.0,6. Private Equity,7.0,3.0,2.0,2.0,14,9
1178,Undisclosed,Private Equity,AgDevCo,Tanzania,Agribusiness,agriculture,0.9,0.0,2007.0,0.0,0.0,6. Private Equity,7.0,3.0,2.0,1.0,14,9
1179,1400000,Pre-Series B,Undisclosed,South Africa,0,education,0.9,1.0,2013.0,4700000.0,0.0,3. Early Venture,7.0,3.0,2.0,1.0,3,10
1180,60000,Seed,RENEW,Uganda,Baby diapers,e-commerce & retail,0.9,1.0,2014.0,60000.0,0.0,2. Seed,7.0,3.0,2.0,1.0,5,1
1181,330000,Debt Financing,Undisclosed,Kenya,"Analytics, Emerging Markets, Enterprise Softwa...",transport & logistics,0.9,1.0,2015.0,330000.0,0.0,5. Debt Financing,7.0,3.0,2.0,1.0,10,5

In [53]:

# Seperating Predictors and Outcome values from train and test sets
X_train = pd.DataFrame(data.drop(['6_investors'],axis=1))
Y_train_label = data['6_investors'].values.astype(object)
X_test = pd.DataFrame(data.drop(['6_investors'],axis=1))
Y_test_label = data['6_investors'].values.astype(object)

# Define the neural network architecture
# model = Sequential()
# model.add(Dense(64, input_dim=10, activation='relu'))
# model.add(Dense(32, activation='relu'))
# model.add(Dense(16, activation='relu'))
# model.add(Dense(len(investor_names), activation='softmax'))


# Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
# model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)

# Generate predictions for a new startup
# new_startup = np.array([[1000000, 0, 1, 0, 0, 0, 1, 0, 0, 0]])
# predictions = model.predict(new_startup)

# Map the numeric output to investor names
# investor_probs = {name: prob for name, prob in zip(investor_names, predictions[0])}
# top_investors = sorted(investor_probs, key=investor_probs.get, reverse=True)[:15]

In [54]:
# Dimension of Train and Test set 
print("Dimension of Train set",X_train.shape)
print("Dimension of Test set",X_test.shape,"\n")

Dimension of Train set (967, 17)
Dimension of Test set (967, 17)