In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
from scipy import stats
from IPython.core.interactiveshell import InteractiveShell

In [2]:
# Libraries Settings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter(action="ignore", category=Warning)
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
np.set_printoptions(suppress=True)

def set_seed(seed=42):
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    
pd.set_option("display.width", 100)
pd.set_option("display.max_columns", 60)
pd.set_option("display.max_rows", 25)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [4]:
df_deals = pd.read_excel ('data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,"Deals Information, Level of Completeness",duplicated_conc,Duplication,Disclosed,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors,Investor 1,Investor 2,Investor 3,Investor 4,Investor 5,Investor 6,Investor 7,Investor 8,Investor 9,Investor 10,Investor 11,Investor 12,Investor 13,Investor 14,Investor 15,Cummulative Deals (Disclosed),Cummulative Deals (Undisclosed),Cummulative Amount,Investor 1.1,Investor 2.1,Investor 3.1,Investor 4.1,Investor 5.1,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000,9.000,3.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,Information Technology,biNu,0.900,NaN,NaN,1.000,2008.000,14220000.000,1.000,2. Seed,Other Technologies & Information Technology,2008.000,11.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,0.900,NaN,NaN,1.000,2004.000,12700000.000,0.000,6. Private Equity,Financial Services,2009.000,12.000,4.000,2.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,NaN,NaN,0.643,NaN,NaN,1.000,NaN,27800000.000,NaN,1. Grant,NaN,2009.000,12.000,4.000,2.000,1.000,Omidyar Network,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,Omidyar Network,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,NaN,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000,4.000,2.000,1.000,1.000,#REF!,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_deals['3_amount'].fillna(0, inplace=True)
# df_deals['3_amount'].astype

In [ ]:
df_deals['3_amount']

In [10]:
temp = df_deals[['2_post_title', '6_investors', '3_amount']]

In [13]:
print(temp.dtypes)

2_post_title    object
6_investors     object
3_amount        object
dtype: object

In [ ]:
ch = temp.loc[temp['3_amount'] == "Undisclosed"]
df_andela

In [15]:
temp['3_amount'] = temp['3_amount'].astype(int)

ValueError: invalid literal for int() with base 10: 'Undisclosed'

In [14]:
# group by StartupName and calculate the sum of AmountInUSD
temp = temp.groupby('2_post_title').agg(sum=('3_amount', 'sum')).reset_index()

TypeError: unsupported operand type(s) for +: 'int' and 'str'