In [1]:
import pandas as pd
import numpy as np
# import sklearn as sk
from matplotlib import pyplot as plt
import seaborn as sn
import seaborn as sns
from matplotlib import pyplot

In [4]:
df_deals = pd.read_excel ('../data/Deals (investment).xlsx')
df_deals.head()

,1_post_date,2_post_title,3_amount,4_Stake,5_funding_round,6_investors,7_source,Country/Town,Country(HQ),Category,...,Investor 6.1,Investor 7.1,Investor 8.1,Investor 9.1,Investor 10.1,Investor 11.1,Investor 12.1,Investor 13.1,Investor 14.1,Investor 15.1
0,2008-09-01,biNu,600000,NaN,Seed,Artesian VC,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-11-01,biNu,400000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,Australia,Australia,Mobile Internet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-03,AllLife,6000000,NaN,Private Equity,LeapFrog Investments,http://www.prnewswire.co.uk/news-releases/leap...,South Africa,South Africa,"Insurance, InsurTech",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-12-11,Bridge International Academies,1800000,NaN,Grant,Omidyar Network,http://foundationcenter.org/pnd/news/story.jht...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-04-01,biNu,320000,NaN,Angel,Undisclosed,https://www.crunchbase.com/search/funding_roun...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
cols = df_deals.columns

In [6]:
for cat_col in cols:
    print(f"{cat_col}: {df_deals[cat_col].nunique()} uniqueness variable")

1_post_date: 695 uniqueness variable
2_post_title: 800 uniqueness variable
3_amount: 281 uniqueness variable
4_Stake: 7 uniqueness variable
5_funding_round: 27 uniqueness variable
6_investors: 717 uniqueness variable
7_source: 1070 uniqueness variable
Country/Town: 34 uniqueness variable
Country(HQ): 34 uniqueness variable
Category: 660 uniqueness variable
main_sector: 48 uniqueness variable
Check vs Companies: 727 uniqueness variable
Deals Information, Level of Completeness: 6 uniqueness variable
duplicated_conc: 1120 uniqueness variable
Duplication: 1 uniqueness variable
Disclosed : 2 uniqueness variable
Founded: 23 uniqueness variable
Total  Disclosed Funding: 280 uniqueness variable
DA Classification_African Company (Yes = 0; No = 1): 2 uniqueness variable
funding round, DA: 8 uniqueness variable
Industry, DA: 13 uniqueness variable
Year: 14 uniqueness variable
Month: 12 uniqueness variable
Quarter: 4 uniqueness variable
Half: 2 uniqueness variable
Number of Investors: 12 uniqueness variable
Investor 1: 30 uniqueness variable
Investor 2: 221 uniqueness variable
Investor 3: 153 uniqueness variable
Investor 4: 103 uniqueness variable
Investor 5: 69 uniqueness variable
Investor 6: 43 uniqueness variable
Investor 7: 21 uniqueness variable
Investor 8: 17 uniqueness variable
Investor 9: 8 uniqueness variable
Investor 10: 7 uniqueness variable
Investor 11: 4 uniqueness variable
Investor 12: 4 uniqueness variable
Investor 13: 2 uniqueness variable
Investor 14: 2 uniqueness variable
Investor 15: 1 uniqueness variable
Cummulative Deals (Disclosed): 0 uniqueness variable
Cummulative Deals (Undisclosed): 0 uniqueness variable
Cummulative Amount: 0 uniqueness variable
Investor 1.1: 30 uniqueness variable
Investor 2.1: 220 uniqueness variable
Investor 3.1: 152 uniqueness variable
Investor 4.1: 102 uniqueness variable
Investor 5.1: 68 uniqueness variable
Investor 6.1: 42 uniqueness variable
Investor 7.1: 20 uniqueness variable
Investor 8.1: 16 uniqueness variable
Investor 9.1: 7 uniqueness variable
Investor 10.1: 6 uniqueness variable
Investor 11.1: 3 uniqueness variable
Investor 12.1: 3 uniqueness variable
Investor 13.1: 1 uniqueness variable
Investor 14.1: 1 uniqueness variable
Investor 15.1: 0 uniqueness variable

In [7]:
df_deals.shape

(2059, 59)

In [8]:
df_deals = df_deals.drop(['Investor 1','Cummulative Deals (Disclosed)','Cummulative Deals (Undisclosed)','Cummulative Amount','7_source','4_Stake','Investor 2', 'Investor 3',
       'Investor 4', 'Investor 5', 'Investor 6', 'Investor 7', 'Investor 8',
       'Investor 9', 'Investor 10', 'Investor 11', 'Investor 12','Investor 13','Investor 14','Investor 13.1','Investor 14.1','Investor 15.1','Investor 15','Duplication','Investor 1.1',
       'Investor 2.1', 'Investor 3.1', 'Investor 4.1', 'Investor 5.1',
       'Investor 6.1', 'Investor 7.1', 'Investor 8.1', 'Investor 9.1',
       'Investor 10.1', 'Investor 11.1', 'Investor 12.1'], axis=1)

In [9]:
df_deals.head()

,1_post_date,2_post_title,3_amount,5_funding_round,6_investors,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,...,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors
0,2008-09-01,biNu,600000,Seed,Artesian VC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008.0,9.0,3.0,2.0,1.0
1,2008-11-01,biNu,400000,Angel,Undisclosed,Australia,Australia,Mobile Internet,Information Technology,biNu,...,2008.0,14220000.0,1.0,2. Seed,Other Technologies & Information Technology,2008.0,11.0,4.0,2.0,1.0
2,2009-12-03,AllLife,6000000,Private Equity,LeapFrog Investments,South Africa,South Africa,"Insurance, InsurTech",Financial Services,AllLife,...,2004.0,12700000.0,0.0,6. Private Equity,Financial Services,2009.0,12.0,4.0,2.0,1.0
3,2009-12-11,Bridge International Academies,1800000,Grant,Omidyar Network,NaN,NaN,NaN,NaN,NaN,...,NaN,27800000.0,NaN,1. Grant,NaN,2009.0,12.0,4.0,2.0,1.0
4,2010-04-01,biNu,320000,Angel,Undisclosed,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2010.0,4.0,2.0,1.0,1.0

In [11]:
df_deals.isnull().sum()

1_post_date                                             783
2_post_title                                            781
3_amount                                                781
5_funding_round                                         781
6_investors                                             781
Country/Town                                            883
Country(HQ)                                             883
Category                                                883
main_sector                                             883
Check vs Companies                                      883
Deals Information, Level of Completeness                921
duplicated_conc                                         936
Disclosed                                               941
Founded                                                 959
Total  Disclosed Funding                                941
DA Classification_African Company (Yes = 0; No = 1)     979
funding round, DA                                       946
Industry, DA                                           1071
Year                                                    529
Month                                                   529
Quarter                                                 758
Half                                                    758
Number of Investors                                     758
dtype: int64

In [12]:
df_deals = df_deals.dropna()

In [13]:
df_deals.head()

,1_post_date,2_post_title,3_amount,5_funding_round,6_investors,Country/Town,Country(HQ),Category,main_sector,Check vs Companies,...,Founded,Total Disclosed Funding,DA Classification_African Company (Yes = 0; No = 1),"funding round, DA","Industry, DA",Year,Month,Quarter,Half,Number of Investors
5,2010-08-20,Kopo Kopo,75000,Seed,First Light Ventures,Kenya,Kenya,"Enterprise Software, Financial Services, Infor...",Financial Services,Kopo Kopo,...,2011.0,6504900.0,0.0,2. Seed,Financial Services,2010.0,8.0,3.0,2.0,1.0
6,2010-09-30,Paga,700000,Seed,Tim Draper,Nigeria,Nigeria,"Money Transfer, Airtime, Bill Payments, and SM...",Financial Services,Paga,...,2009.0,32700000.0,0.0,2. Seed,Financial Services,2010.0,9.0,3.0,2.0,1.0
7,2010-12-01,Wuzzuf,150000,Grant,Undisclosed,Egypt,Egypt,"Information Services, Information Technology, ...",Recruitment,Wuzzuf,...,2009.0,7850000.0,0.0,1. Grant,"Employment, Talent & Labour",2010.0,12.0,4.0,2.0,1.0
8,2011-05-01,African Leadership Academy,1500000,Grant,Omidyar Network,South Africa,South Africa,"E-Learning, Education, Tutoring",Education,African Leadership Academy,...,2008.0,55800000.0,0.0,1. Grant,Education,2011.0,5.0,2.0,1.0,1.0
10,2011-10-01,Cellulant,1500000,Series A,TBL Mirror Fund,Kenya,Kenya,"Mobile Payments, Digital Payments, eCommerce, ...",Financial Services,Cellulant,...,2004.0,54500000.0,0.0,3. Early Venture,Financial Services,2011.0,10.0,4.0,2.0,1.0

In [14]:
#Dropping columns that the startup wont have prior
df_deals = df_deals.drop(['1_post_date','2_post_title','Check vs Companies','Industry, DA'], axis=1)